# 결측치Missing Value 처리 실습
- 값이 들어있지 않는 것으로 NaN, NA로 표가

- 관련 메서드
    - 체크 : isnull(), isna() => 비어있으면 True
        - notnull(), notna()
        
    - 삭제 : dropna()
    
    - 치환 : fillna()

In [113]:
import pandas as pd

In [114]:
DIR_PATH='../Data/'
FILE_NAME=DIR_PATH + 'weather.csv'
df=pd.read_csv(FILE_NAME)
df

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MX17004,2010,3,tmin,NaN,NaN,NaN,NaN,14.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,MX17004,2010,4,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,36.3,NaN,NaN,NaN,NaN
7,MX17004,2010,4,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN
8,MX17004,2010,5,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,33.2,NaN,NaN,NaN,NaN
9,MX17004,2010,5,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18.2,NaN,NaN,NaN,NaN
10,MX17004,2010,6,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.1,NaN,NaN
11,MX17004,2010,6,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN
12,MX17004,2010,7,tmax,NaN,NaN,28.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,MX17004,2010,7,tmin,NaN,NaN,17.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MX17004,2010,8,tmax,NaN,NaN,NaN,NaN,29.6,NaN,...,NaN,26.4,NaN,29.7,NaN,NaN,NaN,28.0,NaN,25.4
15,MX17004,2010,8,tmin,NaN,NaN,NaN,NaN,15.8,NaN,...,NaN,15.0,NaN,15.6,NaN,NaN,NaN,15.3,NaN,15.4
16,MX17004,2010,10,tmax,NaN,NaN,NaN,NaN,27.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,31.2,NaN,NaN,NaN
17,MX17004,2010,10,tmin,NaN,NaN,NaN,NaN,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN
18,MX17004,2010,11,tmax,NaN,31.3,NaN,27.2,26.3,NaN,...,NaN,NaN,NaN,NaN,28.1,27.7,NaN,NaN,NaN,NaN
19,MX17004,2010,11,tmin,NaN,16.3,NaN,12.0,7.9,NaN,...,NaN,NaN,NaN,NaN,12.1,14.2,NaN,NaN,NaN,NaN
20,MX17004,2010,12,tmax,29.9,NaN,NaN,NaN,NaN,27.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MX17004,2010,12,tmin,13.8,NaN,NaN,NaN,NaN,10.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 35 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       22 non-null     object
 1   year     22 non-null     int64
 2   month    22 non-null     int64
 3   element  22 non-null     object
 4   d1       2 non-null      float64
 5   d2       4 non-null      float64
 6   d3       4 non-null      float64
 7   d4       2 non-null      float64
 8   d5       8 non-null      float64
 9   d6       2 non-null      float64
 10  d7       2 non-null      float64
 11  d8       2 non-null      float64
 12  d9       0 non-null      float64
 13  d10      2 non-null      float64
 14  d11      2 non-null      float64
 15  d12      0 non-null      float64
 16  d13      2 non-null      float64
 17  d14      4 non-null      float64
 18  d15      2 non-null      float64
 19  d16      2 non-null      float64
 20  d17      2 non-null      float64
 21  d18      0 non-null      float64
 22  d19      0 non-null      float64
 23  d20      0 non-null      float64
 24  d21      0 non-null      float64
 25  d22      0 non-null      float64
 26  d23      4 non-null      float64
 27  d24      0 non-null      float64
 28  d25      2 non-null      float64
 29  d26      2 non-null      float64
 30  d27      6 non-null      float64
 31  d28      2 non-null      float64
 32  d29      4 non-null      float64
 33  d30      2 non-null      float64
 34  d31      2 non-null      float64
dtypes: float64(31), int64(2), object(2)
memory usage: 6.1+ KB

In [116]:
df.head()

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [117]:
df.describe()

,year,month,d1,d2,d3,d4,d5,d6,d7,d8,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
count,22.0,22.000000,2.000000,4.000000,4.000000,2.000000,8.000000,2.000000,2.000000,2.000000,...,0.0,4.000000,0.0,2.000000,2.000000,6.000000,2.00000,4.000000,2.00000,2.000000
mean,2010.0,6.272727,21.850000,22.325000,21.150000,19.600000,20.862500,19.150000,20.500000,23.150000,...,NaN,20.500000,NaN,22.650000,20.100000,24.383333,23.10000,22.850000,21.15000,20.400000
std,0.0,3.601347,11.384419,8.254443,6.405466,10.748023,8.904243,12.232947,10.748023,8.273149,...,NaN,9.118845,NaN,9.970206,11.313708,9.292022,11.45513,7.294062,9.40452,7.071068
min,2010.0,1.000000,13.800000,14.400000,14.400000,12.000000,7.900000,10.500000,12.900000,17.300000,...,NaN,10.700000,NaN,15.600000,12.100000,14.200000,15.00000,15.300000,14.50000,15.400000
25%,2010.0,3.250000,17.825000,15.825000,16.725000,15.800000,14.150000,14.825000,16.700000,20.225000,...,NaN,13.925000,NaN,19.125000,16.100000,17.075000,19.05000,17.325000,17.82500,17.900000
50%,2010.0,6.000000,21.850000,21.800000,20.800000,19.600000,21.050000,19.150000,20.500000,23.150000,...,NaN,20.700000,NaN,22.650000,20.100000,22.950000,23.10000,23.000000,21.15000,20.400000
75%,2010.0,9.500000,25.875000,28.300000,25.225000,23.400000,27.650000,23.475000,24.300000,26.075000,...,NaN,27.275000,NaN,26.175000,24.100000,31.825000,27.15000,28.525000,24.47500,22.900000
max,2010.0,12.000000,29.900000,31.300000,28.600000,27.200000,32.100000,27.800000,28.100000,29.000000,...,NaN,29.900000,NaN,29.700000,28.100000,36.300000,31.20000,30.100000,27.80000,25.400000

In [118]:
df.shape

(22, 35)

In [119]:
df.index

RangeIndex(start=0, stop=22, step=1)

In [120]:
df.columns

Index(['id', 'year', 'month', 'element', 'd1', 'd2', 'd3', 'd4', 'd5', 'd6',
       'd7', 'd8', 'd9', 'd10', 'd11', 'd12', 'd13', 'd14', 'd15', 'd16',
       'd17', 'd18', 'd19', 'd20', 'd21', 'd22', 'd23', 'd24', 'd25', 'd26',
       'd27', 'd28', 'd29', 'd30', 'd31'],
      dtype='object')

In [121]:
df.count()

id         22
year       22
month      22
element    22
d1          2
d2          4
d3          4
d4          2
d5          8
d6          2
d7          2
d8          2
d9          0
d10         2
d11         2
d12         0
d13         2
d14         4
d15         2
d16         2
d17         2
d18         0
d19         0
d20         0
d21         0
d22         0
d23         4
d24         0
d25         2
d26         2
d27         6
d28         2
d29         4
d30         2
d31         2
dtype: int64

In [122]:
df.value_counts()

Series([], dtype: int64)

### 결측치 갯수 파악, 처리방법 1 : 삭제

In [123]:
df.isnull().sum()

id          0
year        0
month       0
element     0
d1         20
d2         18
d3         18
d4         20
d5         14
d6         20
d7         20
d8         20
d9         22
d10        20
d11        20
d12        22
d13        20
d14        18
d15        20
d16        20
d17        20
d18        22
d19        22
d20        22
d21        22
d22        22
d23        18
d24        22
d25        20
d26        20
d27        16
d28        20
d29        18
d30        20
d31        20
dtype: int64

### NaN값을 삭제할 것인지 다른 임의의 값으로 채울 것인지 생각해라,
### 원래 자료를 보고 row를 삭제할 것인지, columns을 지울 것인지 고려해라.
###### https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html?highlight=dropna#pandas.DataFrame.dropna

In [124]:
# 2010년도 1월의 최고 온도 - 최저 온도 출력
oneMonth=df.iloc[[0,1]]
oneMonth

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN

In [125]:
# NaN값 제거 -> dropna() : 기보값 => 행(row)방향, 1개라도 NaN있으면 삭제
oneMonth.dropna()

Empty DataFrame
Columns: [id, year, month, element, d1, d2, d3, d4, d5, d6, d7, d8, d9, d10, d11, d12, d13, d14, d15, d16, d17, d18, d19, d20, d21, d22, d23, d24, d25, d26, d27, d28, d29, d30, d31]
Index: []

[0 rows x 35 columns]

In [126]:
# 그래서 => 열(columns) 방향 설정, 최고/최저온도값이 모두 NaN인 것을 삭제하 싶음.
# => dropna(axis=1, how='all')
oneMonth.dropna(axis=1, how='all')

        id  year  month element   d30
0  MX17004  2010      1    tmax  27.8
1  MX17004  2010      1    tmin  14.5

In [128]:
# 2월의 최고/최저온도 출력
twoMonth=df.iloc[[2,3]].dropna(axis=1, how='all')
twoMonth

        id  year  month element    d2    d3   d11   d23
2  MX17004  2010      2    tmax  27.3  24.1  29.7  29.9
3  MX17004  2010      2    tmin  14.4  14.4  13.4  10.7

## 과제 2010년 1월 ~ 12월까지 최고/최저온도 추출

### 처리방법 2 : 치환

In [131]:
df2=pd.read_csv(FILE_NAME)
df2

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MX17004,2010,3,tmin,NaN,NaN,NaN,NaN,14.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,MX17004,2010,4,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,36.3,NaN,NaN,NaN,NaN
7,MX17004,2010,4,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN
8,MX17004,2010,5,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,33.2,NaN,NaN,NaN,NaN
9,MX17004,2010,5,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18.2,NaN,NaN,NaN,NaN
10,MX17004,2010,6,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.1,NaN,NaN
11,MX17004,2010,6,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN
12,MX17004,2010,7,tmax,NaN,NaN,28.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,MX17004,2010,7,tmin,NaN,NaN,17.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MX17004,2010,8,tmax,NaN,NaN,NaN,NaN,29.6,NaN,...,NaN,26.4,NaN,29.7,NaN,NaN,NaN,28.0,NaN,25.4
15,MX17004,2010,8,tmin,NaN,NaN,NaN,NaN,15.8,NaN,...,NaN,15.0,NaN,15.6,NaN,NaN,NaN,15.3,NaN,15.4
16,MX17004,2010,10,tmax,NaN,NaN,NaN,NaN,27.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,31.2,NaN,NaN,NaN
17,MX17004,2010,10,tmin,NaN,NaN,NaN,NaN,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN
18,MX17004,2010,11,tmax,NaN,31.3,NaN,27.2,26.3,NaN,...,NaN,NaN,NaN,NaN,28.1,27.7,NaN,NaN,NaN,NaN
19,MX17004,2010,11,tmin,NaN,16.3,NaN,12.0,7.9,NaN,...,NaN,NaN,NaN,NaN,12.1,14.2,NaN,NaN,NaN,NaN
20,MX17004,2010,12,tmax,29.9,NaN,NaN,NaN,NaN,27.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MX17004,2010,12,tmin,13.8,NaN,NaN,NaN,NaN,10.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [133]:
# 모든 NaN을 0으로 바꾸기
df.fillna(0)

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.8,0.0
1,MX17004,2010,1,tmin,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.5,0.0
2,MX17004,2010,2,tmax,0.0,27.3,24.1,0.0,0.0,0.0,...,0.0,29.9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,MX17004,2010,2,tmin,0.0,14.4,14.4,0.0,0.0,0.0,...,0.0,10.7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,MX17004,2010,3,tmax,0.0,0.0,0.0,0.0,32.1,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,MX17004,2010,3,tmin,0.0,0.0,0.0,0.0,14.2,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,MX17004,2010,4,tmax,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,36.3,0.0,0.0,0.0,0.0
7,MX17004,2010,4,tmin,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,16.7,0.0,0.0,0.0,0.0
8,MX17004,2010,5,tmax,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,33.2,0.0,0.0,0.0,0.0
9,MX17004,2010,5,tmin,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,18.2,0.0,0.0,0.0,0.0
10,MX17004,2010,6,tmax,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30.1,0.0,0.0
11,MX17004,2010,6,tmin,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0,0.0,0.0
12,MX17004,2010,7,tmax,0.0,0.0,28.6,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,MX17004,2010,7,tmin,0.0,0.0,17.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,MX17004,2010,8,tmax,0.0,0.0,0.0,0.0,29.6,0.0,...,0.0,26.4,0.0,29.7,0.0,0.0,0.0,28.0,0.0,25.4
15,MX17004,2010,8,tmin,0.0,0.0,0.0,0.0,15.8,0.0,...,0.0,15.0,0.0,15.6,0.0,0.0,0.0,15.3,0.0,15.4
16,MX17004,2010,10,tmax,0.0,0.0,0.0,0.0,27.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,31.2,0.0,0.0,0.0
17,MX17004,2010,10,tmin,0.0,0.0,0.0,0.0,14.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,15.0,0.0,0.0,0.0
18,MX17004,2010,11,tmax,0.0,31.3,0.0,27.2,26.3,0.0,...,0.0,0.0,0.0,0.0,28.1,27.7,0.0,0.0,0.0,0.0
19,MX17004,2010,11,tmin,0.0,16.3,0.0,12.0,7.9,0.0,...,0.0,0.0,0.0,0.0,12.1,14.2,0.0,0.0,0.0,0.0
20,MX17004,2010,12,tmax,29.9,0.0,0.0,0.0,0.0,27.8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,MX17004,2010,12,tmin,13.8,0.0,0.0,0.0,0.0,10.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [136]:
df.fillna(method='bfill')

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,29.9,27.3,24.1,27.2,32.1,27.8,...,NaN,29.9,NaN,29.7,28.1,36.3,31.2,30.1,27.8,25.4
1,MX17004,2010,1,tmin,29.9,27.3,24.1,27.2,32.1,27.8,...,NaN,29.9,NaN,29.7,28.1,36.3,31.2,30.1,14.5,25.4
2,MX17004,2010,2,tmax,29.9,27.3,24.1,27.2,32.1,27.8,...,NaN,29.9,NaN,29.7,28.1,36.3,31.2,30.1,NaN,25.4
3,MX17004,2010,2,tmin,29.9,14.4,14.4,27.2,32.1,27.8,...,NaN,10.7,NaN,29.7,28.1,36.3,31.2,30.1,NaN,25.4
4,MX17004,2010,3,tmax,29.9,31.3,28.6,27.2,32.1,27.8,...,NaN,26.4,NaN,29.7,28.1,36.3,31.2,30.1,NaN,25.4
5,MX17004,2010,3,tmin,29.9,31.3,28.6,27.2,14.2,27.8,...,NaN,26.4,NaN,29.7,28.1,36.3,31.2,30.1,NaN,25.4
6,MX17004,2010,4,tmax,29.9,31.3,28.6,27.2,29.6,27.8,...,NaN,26.4,NaN,29.7,28.1,36.3,31.2,30.1,NaN,25.4
7,MX17004,2010,4,tmin,29.9,31.3,28.6,27.2,29.6,27.8,...,NaN,26.4,NaN,29.7,28.1,16.7,31.2,30.1,NaN,25.4
8,MX17004,2010,5,tmax,29.9,31.3,28.6,27.2,29.6,27.8,...,NaN,26.4,NaN,29.7,28.1,33.2,31.2,30.1,NaN,25.4
9,MX17004,2010,5,tmin,29.9,31.3,28.6,27.2,29.6,27.8,...,NaN,26.4,NaN,29.7,28.1,18.2,31.2,30.1,NaN,25.4
10,MX17004,2010,6,tmax,29.9,31.3,28.6,27.2,29.6,27.8,...,NaN,26.4,NaN,29.7,28.1,27.7,31.2,30.1,NaN,25.4
11,MX17004,2010,6,tmin,29.9,31.3,28.6,27.2,29.6,27.8,...,NaN,26.4,NaN,29.7,28.1,27.7,31.2,18.0,NaN,25.4
12,MX17004,2010,7,tmax,29.9,31.3,28.6,27.2,29.6,27.8,...,NaN,26.4,NaN,29.7,28.1,27.7,31.2,28.0,NaN,25.4
13,MX17004,2010,7,tmin,29.9,31.3,17.5,27.2,29.6,27.8,...,NaN,26.4,NaN,29.7,28.1,27.7,31.2,28.0,NaN,25.4
14,MX17004,2010,8,tmax,29.9,31.3,NaN,27.2,29.6,27.8,...,NaN,26.4,NaN,29.7,28.1,27.7,31.2,28.0,NaN,25.4
15,MX17004,2010,8,tmin,29.9,31.3,NaN,27.2,15.8,27.8,...,NaN,15.0,NaN,15.6,28.1,27.7,31.2,15.3,NaN,15.4
16,MX17004,2010,10,tmax,29.9,31.3,NaN,27.2,27.0,27.8,...,NaN,NaN,NaN,NaN,28.1,27.7,31.2,NaN,NaN,NaN
17,MX17004,2010,10,tmin,29.9,31.3,NaN,27.2,14.0,27.8,...,NaN,NaN,NaN,NaN,28.1,27.7,15.0,NaN,NaN,NaN
18,MX17004,2010,11,tmax,29.9,31.3,NaN,27.2,26.3,27.8,...,NaN,NaN,NaN,NaN,28.1,27.7,NaN,NaN,NaN,NaN
19,MX17004,2010,11,tmin,29.9,16.3,NaN,12.0,7.9,27.8,...,NaN,NaN,NaN,NaN,12.1,14.2,NaN,NaN,NaN,NaN
20,MX17004,2010,12,tmax,29.9,NaN,NaN,NaN,NaN,27.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MX17004,2010,12,tmin,13.8,NaN,NaN,NaN,NaN,10.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 과제 2010년 1월 ~ 12월까지 최고/최저온도 치환