In [82]:
import pandas as pd

## [실습] CSV 파일 읽고 컬럼 별 최고값과 값의 개수 출력

In [83]:
DIR_PATH='../Data/'
FILE_NAME=DIR_PATH + 'iris2.csv'
FILE_NAME2 =DIR_PATH + 'iris.csv'

In [84]:
df=pd.read_csv(FILE_NAME, header=None)     # hear=0이 기본값
# 확장자가 csv인데 콤마가 아닐 경우 => sep=':', sep=' ' 구분자에 따라서 tsv 등

df

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       148 non-null    float64
 1   1       149 non-null    float64
 2   2       150 non-null    float64
 3   3       150 non-null    float64
 4   4       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [86]:
df.max(), df.min()

(0               7.9
 1               4.4
 2               6.9
 3               2.5
 4    Iris-virginica
 dtype: object,
 0            4.3
 1            2.0
 2            1.0
 3            0.1
 4    Iris-setosa
 dtype: object)

In [92]:
df2=pd.read_csv( FILE_NAME, header=None, names=['가','나','다','라','마'] )
df2

       가    나    다    라               마
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [95]:
df3=pd.read_csv( FILE_NAME, header=None, names=['가','나','다','라','마'], index_col=None)
df3

       가    나    다    라               마
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [96]:
for i in range(4):
    print(df[i].value_counts().max())

10
26
14
28

In [97]:
# DF객체변수명.value_counts(dropna=False)
# 컬럼 값이 NaN, Na인 것도 카운팅하고 싶다면 => dropna 파라미터 값 False
# 기본값은 True

In [100]:
df.value_counts(dropna=False)

0    1    2    3    4
5.8  2.7  5.1  1.9  Iris-virginica     2
4.9  3.1  1.5  0.1  Iris-setosa        2
4.3  3.0  1.1  0.1  Iris-setosa        1
6.3  3.3  4.7  1.6  Iris-versicolor    1
     2.3  4.4  1.3  Iris-versicolor    1
                                      ..
5.5  2.4  3.7  1.0  Iris-versicolor    1
          3.8  1.1  Iris-versicolor    1
     2.5  4.0  1.3  Iris-versicolor    1
     2.6  4.4  1.2  Iris-versicolor    1
NaN  3.2  1.6  0.2  Iris-setosa        1
Length: 148, dtype: int64

In [102]:
df.value_counts()

0    1    2    3    4
5.8  2.7  5.1  1.9  Iris-virginica     2
4.9  3.1  1.5  0.1  Iris-setosa        2
5.9  3.0  4.2  1.5  Iris-versicolor    1
6.3  3.3  4.7  1.6  Iris-versicolor    1
     2.3  4.4  1.3  Iris-versicolor    1
                                      ..
5.5  2.4  3.7  1.0  Iris-versicolor    1
          3.8  1.1  Iris-versicolor    1
     2.5  4.0  1.3  Iris-versicolor    1
     2.6  4.4  1.2  Iris-versicolor    1
7.9  3.8  6.4  2.0  Iris-virginica     1
Length: 145, dtype: int64