# 송인욱 0701_1번 과제
## '남북한발전전력량.xlsx'에서 아래 결과를 도출하세요
    - DataFrame 형식으로 데이터를 가져오세요
    - 요약정보를 출력해주세요
    - 1990 ~ 2016 컬럼에서 컬럼별 최대값, 최소값을 출력해주세요
    - 1990 ~ 2016 컬럼에서 짝수 컬럼 데이터만 출력해주세요
    - 전력량과 발전 전력별을 하나의 컬럼을 합치고 합친 컬럼을 추가해 주세요
    - 5번에서 생성된 컬럼을 인덱스로 설정해주세요

### 1. DataFrame 형식으로 데이터를 가져오세요

In [116]:
import pandas as pd
FILE_PATH = './data/'
FILE_NAME = '남북한발전전력량.xlsx'
FILE = FILE_PATH + FILE_NAME
snkorea = pd.read_excel(FILE, na_values='-')

### 2. 요약정보를 출력해주세요

In [117]:
print(snkorea.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 29 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   전력량 (억㎾h)  2 non-null      object
 1   발전 전력별     9 non-null      object
 2   1990       7 non-null      float64
 3   1991       7 non-null      float64
 4   1992       7 non-null      float64
 5   1993       7 non-null      float64
 6   1994       7 non-null      float64
 7   1995       7 non-null      float64
 8   1996       7 non-null      float64
 9   1997       7 non-null      float64
 10  1998       7 non-null      float64
 11  1999       7 non-null      float64
 12  2000       7 non-null      float64
 13  2001       7 non-null      float64
 14  2002       7 non-null      float64
 15  2003       7 non-null      float64
 16  2004       7 non-null      float64
 17  2005       7 non-null      float64
 18  2006       7 non-null      float64
 19  2007       7 non-null      float64
 20  2008       7 non-null      float64
 21  2009       7 non-null      float64
 22  2010       7 non-null      float64
 23  2011       7 non-null      float64
 24  2012       8 non-null      float64
 25  2013       8 non-null      float64
 26  2014       8 non-null      float64
 27  2015       8 non-null      float64
 28  2016       8 non-null      float64
dtypes: float64(27), object(2)
memory usage: 2.2+ KB
None

In [118]:
print(snkorea.index)
print(snkorea.columns)
print(snkorea.shape)

RangeIndex(start=0, stop=9, step=1)
Index(['전력량 (억㎾h)', '발전 전력별', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016'],
      dtype='object')
(9, 29)

### 3. 1990 ~ 2016 컬럼에서 컬럼별 최대값, 최소값을 출력해주세요

In [119]:
sn9016 = snkorea.loc[:,'1990':'2016']
print(sn9016.max())

1990    1077.0
1991    1186.0
1992    1310.0
1993    1444.0
1994    1650.0
1995    1847.0
1996    2055.0
1997    2244.0
1998    2153.0
1999    2393.0
2000    2664.0
2001    2852.0
2002    3065.0
2003    3225.0
2004    3421.0
2005    3646.0
2006    3812.0
2007    4031.0
2008    4224.0
2009    4336.0
2010    4747.0
2011    4969.0
2012    5096.0
2013    5171.0
2014    5220.0
2015    5281.0
2016    5404.0
dtype: float64

In [120]:
print(sn9016.min())

1990    64.0
1991    51.0
1992    49.0
1993    60.0
1994    41.0
1995    55.0
1996    52.0
1997    54.0
1998    61.0
1999    61.0
2000    56.0
2001    42.0
2002    53.0
2003    69.0
2004    59.0
2005    52.0
2006    52.0
2007    50.0
2008    56.0
2009    56.0
2010    65.0
2011    78.0
2012    77.0
2013    82.0
2014    78.0
2015    58.0
2016    66.0
dtype: float64

### 4. 1990 ~ 2016 컬럼에서 짝수 컬럼 데이터만 출력해주세요

In [121]:
print(sn9016.loc[:,::2])

     1990    1992    1994    1996    1998    2000    2002    2004    2006  \
0  1077.0  1310.0  1650.0  2055.0  2153.0  2664.0  3065.0  3421.0  3812.0
1    64.0    49.0    41.0    52.0    61.0    56.0    53.0    59.0    52.0
2   484.0   696.0  1022.0  1264.0  1195.0  1518.0  1821.0  2056.0  2272.0
3   529.0   565.0   587.0   739.0   897.0  1090.0  1191.0  1307.0  1487.0
4     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
5   277.0   247.0   231.0   213.0   170.0   194.0   190.0   206.0   225.0
6   156.0   142.0   138.0   125.0   102.0   102.0   106.0   125.0   126.0
7   121.0   105.0    93.0    88.0    68.0    92.0    84.0    81.0    99.0
8     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN

     2008    2010    2012    2014    2016
0  4224.0  4747.0  5096.0  5220.0  5404.0
1    56.0    65.0    77.0    78.0    66.0
2  2658.0  3196.0  3430.0  3427.0  3523.0
3  1510.0  1486.0  1503.0  1564.0  1620.0
4     NaN     NaN    86.0   151.0   195.0
5   255.0   237.0   215.0   216.0   239.0
6   141.0   134.0   135.0   130.0   128.0
7   114.0   103.0    80.0    86.0   111.0
8     NaN     NaN     NaN     NaN     NaN


### 5. 전력량과 발전 전력별을 하나의 컬럼을 합치고 합친 컬럼을 추가해 주세요

In [122]:
print(snkorea.columns)
data1 = snkorea['전력량 (억㎾h)'].fillna(method='ffill')
data2 = snkorea['발전 전력별']
data = data1 + data2
snkorea['남북한총전력'] = data
snkorea

Index(['전력량 (억㎾h)', '발전 전력별', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016'],
      dtype='object')

,전력량 (억㎾h),발전 전력별,1990,1991,1992,1993,1994,1995,1996,1997,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,남북한총전력
0,남한,합계,1077.0,1186.0,1310.0,1444.0,1650.0,1847.0,2055.0,2244.0,...,4224.0,4336.0,4747.0,4969.0,5096.0,5171.0,5220.0,5281.0,5404.0,남한합계
1,NaN,수력,64.0,51.0,49.0,60.0,41.0,55.0,52.0,54.0,...,56.0,56.0,65.0,78.0,77.0,84.0,78.0,58.0,66.0,남한수력
2,NaN,화력,484.0,573.0,696.0,803.0,1022.0,1122.0,1264.0,1420.0,...,2658.0,2802.0,3196.0,3343.0,3430.0,3581.0,3427.0,3402.0,3523.0,남한화력
3,NaN,원자력,529.0,563.0,565.0,581.0,587.0,670.0,739.0,771.0,...,1510.0,1478.0,1486.0,1547.0,1503.0,1388.0,1564.0,1648.0,1620.0,남한원자력
4,NaN,신재생,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,86.0,118.0,151.0,173.0,195.0,남한신재생
5,북한,합계,277.0,263.0,247.0,221.0,231.0,230.0,213.0,193.0,...,255.0,235.0,237.0,211.0,215.0,221.0,216.0,190.0,239.0,북한합계
6,NaN,수력,156.0,150.0,142.0,133.0,138.0,142.0,125.0,107.0,...,141.0,125.0,134.0,132.0,135.0,139.0,130.0,100.0,128.0,북한수력
7,NaN,화력,121.0,113.0,105.0,88.0,93.0,88.0,88.0,86.0,...,114.0,110.0,103.0,79.0,80.0,82.0,86.0,90.0,111.0,북한화력
8,NaN,원자력,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,북한원자력

### 6. 5번에서 생성된 컬럼을 인덱스로 설정해주세요

In [123]:
snkorea.set_index('남북한총전력')

,전력량 (억㎾h),발전 전력별,1990,1991,1992,1993,1994,1995,1996,1997,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
남북한총전력,,,,,,,,,,,,,,,,,,,,,
남한합계,남한,합계,1077.0,1186.0,1310.0,1444.0,1650.0,1847.0,2055.0,2244.0,...,4031.0,4224.0,4336.0,4747.0,4969.0,5096.0,5171.0,5220.0,5281.0,5404.0
남한수력,NaN,수력,64.0,51.0,49.0,60.0,41.0,55.0,52.0,54.0,...,50.0,56.0,56.0,65.0,78.0,77.0,84.0,78.0,58.0,66.0
남한화력,NaN,화력,484.0,573.0,696.0,803.0,1022.0,1122.0,1264.0,1420.0,...,2551.0,2658.0,2802.0,3196.0,3343.0,3430.0,3581.0,3427.0,3402.0,3523.0
남한원자력,NaN,원자력,529.0,563.0,565.0,581.0,587.0,670.0,739.0,771.0,...,1429.0,1510.0,1478.0,1486.0,1547.0,1503.0,1388.0,1564.0,1648.0,1620.0
남한신재생,NaN,신재생,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,86.0,118.0,151.0,173.0,195.0
북한합계,북한,합계,277.0,263.0,247.0,221.0,231.0,230.0,213.0,193.0,...,236.0,255.0,235.0,237.0,211.0,215.0,221.0,216.0,190.0,239.0
북한수력,NaN,수력,156.0,150.0,142.0,133.0,138.0,142.0,125.0,107.0,...,133.0,141.0,125.0,134.0,132.0,135.0,139.0,130.0,100.0,128.0
북한화력,NaN,화력,121.0,113.0,105.0,88.0,93.0,88.0,88.0,86.0,...,103.0,114.0,110.0,103.0,79.0,80.0,82.0,86.0,90.0,111.0
북한원자력,NaN,원자력,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN