In [37]:
import pandas as pd

In [38]:
DIR_PATH = '../DATA/'
FILE_NAME = DIR_PATH + 'iris.csv'

In [39]:
# csv 파일 읽기 --> DataFrame으로 저장
irisDF = pd.read_csv(FILE_NAME)

# 데이터 확인하기
irisDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SepalLength  150 non-null    float64
 1   SepalWidth   150 non-null    float64
 2   PetalLength  150 non-null    float64
 3   PetalWidth   150 non-null    float64
 4   Name         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [45]:
# 과제 2-1번
print(irisDF[['SepalLength', 'PetalLength']])

     SepalLength  PetalLength
0            5.1          1.4
1            4.9          1.4
2            4.7          1.3
3            4.6          1.5
4            5.0          1.4
..           ...          ...
145          6.7          5.2
146          6.3          5.0
147          6.5          5.2
148          6.2          5.4
149          5.9          5.1

[150 rows x 2 columns]

In [46]:
# 과제 2-2번
print(irisDF[irisDF['SepalLength'] >= 5.0][['SepalLength', 'Name']]  )

     SepalLength            Name
0            5.1     Iris-setosa
4            5.0     Iris-setosa
5            5.4     Iris-setosa
7            5.0     Iris-setosa
10           5.4     Iris-setosa
..           ...             ...
145          6.7  Iris-virginica
146          6.3  Iris-virginica
147          6.5  Iris-virginica
148          6.2  Iris-virginica
149          5.9  Iris-virginica

[128 rows x 2 columns]

In [47]:
# 과제 2-3번
print(irisDF[irisDF['Name']=='Iris-setosa'].min(), irisDF[irisDF['Name']=='Iris-setosa'].max(), sep='\n')

SepalLength            4.3
SepalWidth             2.3
PetalLength            1.0
PetalWidth             0.1
Name           Iris-setosa
dtype: object
SepalLength            5.8
SepalWidth             4.4
PetalLength            1.9
PetalWidth             0.6
Name           Iris-setosa
dtype: object

In [48]:
print(irisDF[irisDF['Name']=='Iris-versicolor'].min(), irisDF[irisDF['Name']=='Iris-versicolor'].max(), sep='\n')

SepalLength                4.9
SepalWidth                 2.0
PetalLength                3.0
PetalWidth                 1.0
Name           Iris-versicolor
dtype: object
SepalLength                7.0
SepalWidth                 3.4
PetalLength                5.1
PetalWidth                 1.8
Name           Iris-versicolor
dtype: object

In [49]:
print(irisDF[irisDF['Name']=='Iris-virginica'].min(), irisDF[irisDF['Name']=='Iris-virginica'].max(), sep='\n')

SepalLength               4.9
SepalWidth                2.2
PetalLength               4.5
PetalWidth                1.4
Name           Iris-virginica
dtype: object
SepalLength               7.9
SepalWidth                3.8
PetalLength               6.9
PetalWidth                2.5
Name           Iris-virginica
dtype: object

In [50]:
print(irisDF.shape)
print(irisDF.columns)
print(irisDF.index)

(150, 5)
Index(['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Name'], dtype='object')
RangeIndex(start=0, stop=150, step=1)

In [52]:
# 엑셀 파일 읽기 , 과제 1-1
northsouth = '남북한발전전력량.xlsx' 
FILE_NAME2 = DIR_PATH + northsouth
northDF = pd.read_excel(FILE_NAME2)
northDF = northDF.fillna(" ")
northDF = northDF.replace('-',  None)

print(northDF)

,전력량 (억㎾h),발전 전력별,1990,1991,1992,1993,1994,1995,1996,1997,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,남한,합계,1077,1186,1310,1444,1650,1847,2055,2244,...,4031,4224,4336,4747,4969,5096,5171,5220,5281,5404
1,,수력,64,51,49,60,41,55,52,54,...,50,56,56,65,78,77,84,78,58,66
2,,화력,484,573,696,803,1022,1122,1264,1420,...,2551,2658,2802,3196,3343,3430,3581,3427,3402,3523
3,,원자력,529,563,565,581,587,670,739,771,...,1429,1510,1478,1486,1547,1503,1388,1564,1648,1620
4,,신재생,None,None,None,None,None,None,None,None,...,None,None,None,None,None,86,118,151,173,195
5,북한,합계,277,263,247,221,231,230,213,193,...,236,255,235,237,211,215,221,216,190,239
6,,수력,156,150,142,133,138,142,125,107,...,133,141,125,134,132,135,139,130,100,128
7,,화력,121,113,105,88,93,88,88,86,...,103,114,110,103,79,80,82,86,90,111
8,,원자력,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [53]:
# 과제 1-2
northDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 29 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   전력량 (억㎾h)  9 non-null      object
 1   발전 전력별     9 non-null      object
 2   1990       7 non-null      object
 3   1991       7 non-null      object
 4   1992       7 non-null      object
 5   1993       7 non-null      object
 6   1994       7 non-null      object
 7   1995       7 non-null      object
 8   1996       7 non-null      object
 9   1997       7 non-null      object
 10  1998       7 non-null      object
 11  1999       7 non-null      object
 12  2000       7 non-null      object
 13  2001       7 non-null      object
 14  2002       7 non-null      object
 15  2003       7 non-null      object
 16  2004       7 non-null      object
 17  2005       7 non-null      object
 18  2006       7 non-null      object
 19  2007       7 non-null      object
 20  2008       7 non-null      object
 21  2009       7 non-null      object
 22  2010       7 non-null      object
 23  2011       7 non-null      object
 24  2012       8 non-null      object
 25  2013       8 non-null      object
 26  2014       8 non-null      object
 27  2015       8 non-null      object
 28  2016       8 non-null      object
dtypes: object(29)
memory usage: 2.2+ KB

In [54]:
# 문제 1-3
for i in northDF.columns[2:]:
    print(f'{i}년도 최솟값: {northDF[i].min()}')
    print(f'{i}년도 최댓값: {northDF[i].max()}')

1990년도 최솟값: 64
1990년도 최댓값: 1077
1991년도 최솟값: 51
1991년도 최댓값: 1186
1992년도 최솟값: 49
1992년도 최댓값: 1310
1993년도 최솟값: 60
1993년도 최댓값: 1444
1994년도 최솟값: 41
1994년도 최댓값: 1650
1995년도 최솟값: 55
1995년도 최댓값: 1847
1996년도 최솟값: 52
1996년도 최댓값: 2055
1997년도 최솟값: 54
1997년도 최댓값: 2244
1998년도 최솟값: 61
1998년도 최댓값: 2153
1999년도 최솟값: 61
1999년도 최댓값: 2393
2000년도 최솟값: 56
2000년도 최댓값: 2664
2001년도 최솟값: 42
2001년도 최댓값: 2852
2002년도 최솟값: 53
2002년도 최댓값: 3065
2003년도 최솟값: 69
2003년도 최댓값: 3225
2004년도 최솟값: 59
2004년도 최댓값: 3421
2005년도 최솟값: 52
2005년도 최댓값: 3646
2006년도 최솟값: 52
2006년도 최댓값: 3812
2007년도 최솟값: 50
2007년도 최댓값: 4031
2008년도 최솟값: 56
2008년도 최댓값: 4224
2009년도 최솟값: 56
2009년도 최댓값: 4336
2010년도 최솟값: 65
2010년도 최댓값: 4747
2011년도 최솟값: 78
2011년도 최댓값: 4969
2012년도 최솟값: 77
2012년도 최댓값: 5096
2013년도 최솟값: 82
2013년도 최댓값: 5171
2014년도 최솟값: 78
2014년도 최댓값: 5220
2015년도 최솟값: 58
2015년도 최댓값: 5281
2016년도 최솟값: 66
2016년도 최댓값: 5404

In [55]:
# 문제 1-4
year = northDF.columns[2:]
someLIst = ['전력량 (억㎾h)', '발전 전력별']; count = 0
for i in year:
    if count %2 == 0:
        someLIst.append(i)
    count += 1

print(northDF.loc[:, someLIst])

,전력량 (억㎾h),발전 전력별,1990,1992,1994,1996,1998,2000,2002,2004,2006,2008,2010,2012,2014,2016
0,남한,합계,1077,1310,1650,2055,2153,2664,3065,3421,3812,4224,4747,5096,5220,5404
1,,수력,64,49,41,52,61,56,53,59,52,56,65,77,78,66
2,,화력,484,696,1022,1264,1195,1518,1821,2056,2272,2658,3196,3430,3427,3523
3,,원자력,529,565,587,739,897,1090,1191,1307,1487,1510,1486,1503,1564,1620
4,,신재생,None,None,None,None,None,None,None,None,None,None,None,86,151,195
5,북한,합계,277,247,231,213,170,194,190,206,225,255,237,215,216,239
6,,수력,156,142,138,125,102,102,106,125,126,141,134,135,130,128
7,,화력,121,105,93,88,68,92,84,81,99,114,103,80,86,111
8,,원자력,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [59]:
# 문제1-5
nor1 = northDF['전력량 (억㎾h)']  # series1
nor2 = northDF['발전 전력별'] # series2
someList = []
row, column =northDF.shape
for i in range(row):
    someList.append(f'{nor1[i]}' + " " + f'{nor2[i]}')

print(someList)
mergeName = '전력량 (억㎾h)' + " " + '발전 전력별'
northDF[mergeName] = someList
print(northDF)

['남한 합계', '  수력', '  화력', '  원자력', '  신재생', '북한 합계', '  수력', '  화력', '  원자력']

,전력량 (억㎾h),발전 전력별,1990,1991,1992,1993,1994,1995,1996,1997,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,전력량 (억㎾h) 발전 전력별
0,남한,합계,1077,1186,1310,1444,1650,1847,2055,2244,...,4224,4336,4747,4969,5096,5171,5220,5281,5404,남한 합계
1,,수력,64,51,49,60,41,55,52,54,...,56,56,65,78,77,84,78,58,66,수력
2,,화력,484,573,696,803,1022,1122,1264,1420,...,2658,2802,3196,3343,3430,3581,3427,3402,3523,화력
3,,원자력,529,563,565,581,587,670,739,771,...,1510,1478,1486,1547,1503,1388,1564,1648,1620,원자력
4,,신재생,None,None,None,None,None,None,None,None,...,None,None,None,None,86,118,151,173,195,신재생
5,북한,합계,277,263,247,221,231,230,213,193,...,255,235,237,211,215,221,216,190,239,북한 합계
6,,수력,156,150,142,133,138,142,125,107,...,141,125,134,132,135,139,130,100,128,수력
7,,화력,121,113,105,88,93,88,88,86,...,114,110,103,79,80,82,86,90,111,화력
8,,원자력,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,원자력

In [60]:
# 문제1-6
northDF2 = northDF.set_index(mergeName)
print(northDF2)

,전력량 (억㎾h),발전 전력별,1990,1991,1992,1993,1994,1995,1996,1997,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
전력량 (억㎾h) 발전 전력별,,,,,,,,,,,,,,,,,,,,,
남한 합계,남한,합계,1077,1186,1310,1444,1650,1847,2055,2244,...,4031,4224,4336,4747,4969,5096,5171,5220,5281,5404
수력,,수력,64,51,49,60,41,55,52,54,...,50,56,56,65,78,77,84,78,58,66
화력,,화력,484,573,696,803,1022,1122,1264,1420,...,2551,2658,2802,3196,3343,3430,3581,3427,3402,3523
원자력,,원자력,529,563,565,581,587,670,739,771,...,1429,1510,1478,1486,1547,1503,1388,1564,1648,1620
신재생,,신재생,None,None,None,None,None,None,None,None,...,None,None,None,None,None,86,118,151,173,195
북한 합계,북한,합계,277,263,247,221,231,230,213,193,...,236,255,235,237,211,215,221,216,190,239
수력,,수력,156,150,142,133,138,142,125,107,...,133,141,125,134,132,135,139,130,100,128
화력,,화력,121,113,105,88,93,88,88,86,...,103,114,110,103,79,80,82,86,90,111
원자력,,원자력,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None