# 0701 과제 - 정한수

### 데이터 가져오기

In [ ]:
import pandas as pd

FILE_PATH = '../Data/'
FILE_NAMES = ['시도별 전출입 인구수.xlsx', '남북한발전전력량.xlsx', 'iris.csv']

In [ ]:
people = pd.read_excel(FILE_PATH + FILE_NAMES[0], index_col = [0,1]).drop((   '전출지별',    '전입지별')) # 1행 빼고 읽기
electric = pd.read_excel(FILE_PATH + FILE_NAMES[1], index_col = [0,1])
iris = pd.read_csv(FILE_PATH + FILE_NAMES[2])

In [ ]:
people

                    1970     1971     1972     1973     1974     1975  \
전출지별    전입지별
전국      전국       4046536  4210164  3687938  4860418  5297969  9011440
        서울특별시    1742813  1671705  1349333  1831858  2050392  3396662
        부산광역시     448577   389797   362202   482061   680984   805979
        대구광역시          -        -        -        -        -        -
        인천광역시          -        -        -        -        -        -
...                  ...      ...      ...      ...      ...      ...
제주특별자치도 전라북도         139      202      141      210      219      415
        전라남도         631      965      857      952     1133     2808
        경상북도         374      619      468      576      625     1123
        경상남도         474      479      440      571     1208     1517
        제주특별자치도     9290    12427    12210    16158    19580    34221

                    1976     1977     1978     1979  ...     2008     2009  \
전출지별    전입지별                                         ...
전국      전국       6773250  7397623  8410276  7324380  ...  8808256  8487275
        서울특별시    2756510  2893403  3307439  2589667  ...  2025358  1873188
        부산광역시     724664   785117   895337   809483  ...   514502   519310
        대구광역시          -        -        -        -  ...   409938   398626
        인천광역시          -        -        -        -  ...   565585   478169
...                  ...      ...      ...      ...  ...      ...      ...
제주특별자치도 전라북도         392      408      363      354  ...      668      579
        전라남도        2608     2652     2722     2178  ...     1143     1123
        경상북도        1141     1004     1009      818  ...      761      704
        경상남도         863     1122     1331     1290  ...     1517     1474
        제주특별자치도    23291    31028    30719    30064  ...    59564    55673

                    2010     2011     2012     2013     2014     2015  \
전출지별    전입지별
전국      전국       8226594  8127195  7506691  7411784  7629098  7755286
        서울특별시    1733015  1721748  1555281  1520090  1573594  1589431
        부산광역시     519334   508043   461042   478451   485710   507031
        대구광역시     370817   370563   348642   351873   350213   351424
        인천광역시     462051   499567   468666   461613   452297   473223
...                  ...      ...      ...      ...      ...      ...
제주특별자치도 전라북도         672      561      551      516      609      683
        전라남도        1002     1026      966     1001      928     1062
        경상북도         738      756      699      781      728      903
        경상남도        1324     1367     1227     1278     1223     1500
        제주특별자치도    55507    59846    54280    60607    59673    59036

                    2016     2017
전출지별    전입지별
전국      전국       7378430  7154226
        서울특별시    1515602  1472937
        부산광역시     459015   439073
        대구광역시     328228   321182
        인천광역시     441646   409465
...                  ...      ...
제주특별자치도 전라북도         733      768
        전라남도        1127     1102
        경상북도         931      994
        경상남도        1448     1501
        제주특별자치도    66444    63275

[324 rows x 48 columns]

In [ ]:
electric.T

전력량 (억㎾h)    남한                        북한
발전 전력별       합계  수력    화력   원자력  신재생   합계   수력   화력 원자력
1990       1077  64   484   529    -  277  156  121   -
1991       1186  51   573   563    -  263  150  113   -
1992       1310  49   696   565    -  247  142  105   -
1993       1444  60   803   581    -  221  133   88   -
1994       1650  41  1022   587    -  231  138   93   -
1995       1847  55  1122   670    -  230  142   88   -
1996       2055  52  1264   739    -  213  125   88   -
1997       2244  54  1420   771    -  193  107   86   -
1998       2153  61  1195   897    -  170  102   68   -
1999       2393  61  1302  1031    -  186  103   83   -
2000       2664  56  1518  1090    -  194  102   92   -
2001       2852  42  1689  1121    -  202  106   96   -
2002       3065  53  1821  1191    -  190  106   84   -
2003       3225  69  1859  1297    -  196  117   79   -
2004       3421  59  2056  1307    -  206  125   81   -
2005       3646  52  2127  1468    -  215  131   84   -
2006       3812  52  2272  1487    -  225  126   99   -
2007       4031  50  2551  1429    -  236  133  103   -
2008       4224  56  2658  1510    -  255  141  114   -
2009       4336  56  2802  1478    -  235  125  110   -
2010       4747  65  3196  1486    -  237  134  103   -
2011       4969  78  3343  1547    -  211  132   79   -
2012       5096  77  3430  1503   86  215  135   80   -
2013       5171  84  3581  1388  118  221  139   82   -
2014       5220  78  3427  1564  151  216  130   86   -
2015       5281  58  3402  1648  173  190  100   90   -
2016       5404  66  3523  1620  195  239  128  111   -

In [ ]:
iris

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

## 1. 남북한 발전 전력량

#### 1.2 요약 정보 출력

In [ ]:
def print_detail(data):
    print(f'--- data detail ------------------------------', end = '\n\n')
    print(f'shape   : {data.shape}', end = '\n\n')
    print(f'columns : {data.columns.values}', end = '\n\n')
    print(f'index   : {data.index.values}', end = '\n\n')
    print(f'{data.info()}', end = '\n\n')

In [ ]:
print_detail(electric)

--- data detail ------------------------------

shape   : (9, 27)

columns : ['1990' '1991' '1992' '1993' '1994' '1995' '1996' '1997' '1998' '1999'
 '2000' '2001' '2002' '2003' '2004' '2005' '2006' '2007' '2008' '2009'
 '2010' '2011' '2012' '2013' '2014' '2015' '2016']

index   : [('남한', '합계') ('남한', '수력') ('남한', '화력') ('남한', '원자력') ('남한', '신재생')
 ('북한', '합계') ('북한', '수력') ('북한', '화력') ('북한', '원자력')]

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 9 entries, ('남한', '합계') to ('북한', '원자력')
Data columns (total 27 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1990    9 non-null      object
 1   1991    9 non-null      object
 2   1992    9 non-null      object
 3   1993    9 non-null      object
 4   1994    9 non-null      object
 5   1995    9 non-null      object
 6   1996    9 non-null      object
 7   1997    9 non-null      object
 8   1998    9 non-null      object
 9   1999    9 non-null      object
 10  2000    9 non-null      object
 11  2001    9 non-null      object
 12  2002    9 non-null      object
 13  2003    9 non-null      object
 14  2004    9 non-null      object
 15  2005    9 non-null      object
 16  2006    9 non-null      object
 17  2007    9 non-null      object
 18  2008    9 non-null      object
 19  2009    9 non-null      object
 20  2010    9 non-null      object
 21  2011    9 non-null      object
 22  2012    9 non-null      object
 23  2013    9 non-null      object
 24  2014    9 non-null      object
 25  2015    9 non-null      object
 26  2016    9 non-null      object
dtypes: object(27)
memory usage: 2.4+ KB
None

#### 1.3  1990~2016 컬럼에서 컬럼별 최대값, 최소값

In [ ]:
import numpy as np
electric = electric.replace('-', np.nan)
electric

                    1990    1991    1992    1993    1994    1995    1996  \
전력량 (억㎾h) 발전 전력별
남한        합계      1077.0  1186.0  1310.0  1444.0  1650.0  1847.0  2055.0
          수력        64.0    51.0    49.0    60.0    41.0    55.0    52.0
          화력       484.0   573.0   696.0   803.0  1022.0  1122.0  1264.0
          원자력      529.0   563.0   565.0   581.0   587.0   670.0   739.0
          신재생        NaN     NaN     NaN     NaN     NaN     NaN     NaN
북한        합계       277.0   263.0   247.0   221.0   231.0   230.0   213.0
          수력       156.0   150.0   142.0   133.0   138.0   142.0   125.0
          화력       121.0   113.0   105.0    88.0    93.0    88.0    88.0
          원자력        NaN     NaN     NaN     NaN     NaN     NaN     NaN

                    1997    1998    1999  ...    2007    2008    2009    2010  \
전력량 (억㎾h) 발전 전력별                          ...
남한        합계      2244.0  2153.0  2393.0  ...  4031.0  4224.0  4336.0  4747.0
          수력        54.0    61.0    61.0  ...    50.0    56.0    56.0    65.0
          화력      1420.0  1195.0  1302.0  ...  2551.0  2658.0  2802.0  3196.0
          원자력      771.0   897.0  1031.0  ...  1429.0  1510.0  1478.0  1486.0
          신재생        NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
북한        합계       193.0   170.0   186.0  ...   236.0   255.0   235.0   237.0
          수력       107.0   102.0   103.0  ...   133.0   141.0   125.0   134.0
          화력        86.0    68.0    83.0  ...   103.0   114.0   110.0   103.0
          원자력        NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN

                    2011    2012    2013    2014    2015    2016
전력량 (억㎾h) 발전 전력별
남한        합계      4969.0  5096.0  5171.0  5220.0  5281.0  5404.0
          수력        78.0    77.0    84.0    78.0    58.0    66.0
          화력      3343.0  3430.0  3581.0  3427.0  3402.0  3523.0
          원자력     1547.0  1503.0  1388.0  1564.0  1648.0  1620.0
          신재생        NaN    86.0   118.0   151.0   173.0   195.0
북한        합계       211.0   215.0   221.0   216.0   190.0   239.0
          수력       132.0   135.0   139.0   130.0   100.0   128.0
          화력        79.0    80.0    82.0    86.0    90.0   111.0
          원자력        NaN     NaN     NaN     NaN     NaN     NaN

[9 rows x 27 columns]

In [ ]:
pd.DataFrame( {'max' : electric.max(), 'min': electric.min()}).T

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
max,1077.0,1186.0,1310.0,1444.0,1650.0,1847.0,2055.0,2244.0,2153.0,2393.0,...,4031.0,4224.0,4336.0,4747.0,4969.0,5096.0,5171.0,5220.0,5281.0,5404.0
min,64.0,51.0,49.0,60.0,41.0,55.0,52.0,54.0,61.0,61.0,...,50.0,56.0,56.0,65.0,78.0,77.0,82.0,78.0,58.0,66.0

#### 1.4 1990~2016 컬럼에서 짝수 컬럼 데이터만 출력

In [ ]:
# list comprehension 이용
electric[[x for x in electric.columns if int(x)%2 ==0]]

                    1990    1992    1994    1996    1998    2000    2002  \
전력량 (억㎾h) 발전 전력별
남한        합계      1077.0  1310.0  1650.0  2055.0  2153.0  2664.0  3065.0
          수력        64.0    49.0    41.0    52.0    61.0    56.0    53.0
          화력       484.0   696.0  1022.0  1264.0  1195.0  1518.0  1821.0
          원자력      529.0   565.0   587.0   739.0   897.0  1090.0  1191.0
          신재생        NaN     NaN     NaN     NaN     NaN     NaN     NaN
북한        합계       277.0   247.0   231.0   213.0   170.0   194.0   190.0
          수력       156.0   142.0   138.0   125.0   102.0   102.0   106.0
          화력       121.0   105.0    93.0    88.0    68.0    92.0    84.0
          원자력        NaN     NaN     NaN     NaN     NaN     NaN     NaN

                    2004    2006    2008    2010    2012    2014    2016
전력량 (억㎾h) 발전 전력별
남한        합계      3421.0  3812.0  4224.0  4747.0  5096.0  5220.0  5404.0
          수력        59.0    52.0    56.0    65.0    77.0    78.0    66.0
          화력      2056.0  2272.0  2658.0  3196.0  3430.0  3427.0  3523.0
          원자력     1307.0  1487.0  1510.0  1486.0  1503.0  1564.0  1620.0
          신재생        NaN     NaN     NaN     NaN    86.0   151.0   195.0
북한        합계       206.0   225.0   255.0   237.0   215.0   216.0   239.0
          수력       125.0   126.0   141.0   134.0   135.0   130.0   128.0
          화력        81.0    99.0   114.0   103.0    80.0    86.0   111.0
          원자력        NaN     NaN     NaN     NaN     NaN     NaN     NaN

In [ ]:
# list comprehension 없이
odd_cols = []
for x in electric.columns:
    if int(x)%2 ==0:
        odd_cols.append(x)

electric[odd_cols]

                    1990    1992    1994    1996    1998    2000    2002  \
전력량 (억㎾h) 발전 전력별
남한        합계      1077.0  1310.0  1650.0  2055.0  2153.0  2664.0  3065.0
          수력        64.0    49.0    41.0    52.0    61.0    56.0    53.0
          화력       484.0   696.0  1022.0  1264.0  1195.0  1518.0  1821.0
          원자력      529.0   565.0   587.0   739.0   897.0  1090.0  1191.0
          신재생        NaN     NaN     NaN     NaN     NaN     NaN     NaN
북한        합계       277.0   247.0   231.0   213.0   170.0   194.0   190.0
          수력       156.0   142.0   138.0   125.0   102.0   102.0   106.0
          화력       121.0   105.0    93.0    88.0    68.0    92.0    84.0
          원자력        NaN     NaN     NaN     NaN     NaN     NaN     NaN

                    2004    2006    2008    2010    2012    2014    2016
전력량 (억㎾h) 발전 전력별
남한        합계      3421.0  3812.0  4224.0  4747.0  5096.0  5220.0  5404.0
          수력        59.0    52.0    56.0    65.0    77.0    78.0    66.0
          화력      2056.0  2272.0  2658.0  3196.0  3430.0  3427.0  3523.0
          원자력     1307.0  1487.0  1510.0  1486.0  1503.0  1564.0  1620.0
          신재생        NaN     NaN     NaN     NaN    86.0   151.0   195.0
북한        합계       206.0   225.0   255.0   237.0   215.0   216.0   239.0
          수력       125.0   126.0   141.0   134.0   135.0   130.0   128.0
          화력        81.0    99.0   114.0   103.0    80.0    86.0   111.0
          원자력        NaN     NaN     NaN     NaN     NaN     NaN     NaN

In [ ]:
# for문 이용
cond_cols = []
for x in electric.columns:
    if int(x)%2 ==0:
        cond_cols.append(x)
electric[cond_cols]

                    1990    1992    1994    1996    1998    2000    2002  \
전력량 (억㎾h) 발전 전력별
남한        합계      1077.0  1310.0  1650.0  2055.0  2153.0  2664.0  3065.0
          수력        64.0    49.0    41.0    52.0    61.0    56.0    53.0
          화력       484.0   696.0  1022.0  1264.0  1195.0  1518.0  1821.0
          원자력      529.0   565.0   587.0   739.0   897.0  1090.0  1191.0
          신재생        NaN     NaN     NaN     NaN     NaN     NaN     NaN
북한        합계       277.0   247.0   231.0   213.0   170.0   194.0   190.0
          수력       156.0   142.0   138.0   125.0   102.0   102.0   106.0
          화력       121.0   105.0    93.0    88.0    68.0    92.0    84.0
          원자력        NaN     NaN     NaN     NaN     NaN     NaN     NaN

                    2004    2006    2008    2010    2012    2014    2016
전력량 (억㎾h) 발전 전력별
남한        합계      3421.0  3812.0  4224.0  4747.0  5096.0  5220.0  5404.0
          수력        59.0    52.0    56.0    65.0    77.0    78.0    66.0
          화력      2056.0  2272.0  2658.0  3196.0  3430.0  3427.0  3523.0
          원자력     1307.0  1487.0  1510.0  1486.0  1503.0  1564.0  1620.0
          신재생        NaN     NaN     NaN     NaN    86.0   151.0   195.0
북한        합계       206.0   225.0   255.0   237.0   215.0   216.0   239.0
          수력       125.0   126.0   141.0   134.0   135.0   130.0   128.0
          화력        81.0    99.0   114.0   103.0    80.0    86.0   111.0
          원자력        NaN     NaN     NaN     NaN     NaN     NaN     NaN

#### 1.5  전력량과 발전 전력별을 하나의 컬럼으로 합치고 합친 컬럼을 추가

In [ ]:
electric.reset_index(inplace = True)

In [ ]:
new_ind = electric[electric.columns[0]]+' / ' + electric[electric.columns[1]]

In [ ]:
electric['new_ind'] =new_ind

In [ ]:
electric

,전력량 (억㎾h),발전 전력별,1990,1991,1992,1993,1994,1995,1996,1997,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,new_ind
0,남한,합계,1077.0,1186.0,1310.0,1444.0,1650.0,1847.0,2055.0,2244.0,...,4224.0,4336.0,4747.0,4969.0,5096.0,5171.0,5220.0,5281.0,5404.0,남한 / 합계
1,남한,수력,64.0,51.0,49.0,60.0,41.0,55.0,52.0,54.0,...,56.0,56.0,65.0,78.0,77.0,84.0,78.0,58.0,66.0,남한 / 수력
2,남한,화력,484.0,573.0,696.0,803.0,1022.0,1122.0,1264.0,1420.0,...,2658.0,2802.0,3196.0,3343.0,3430.0,3581.0,3427.0,3402.0,3523.0,남한 / 화력
3,남한,원자력,529.0,563.0,565.0,581.0,587.0,670.0,739.0,771.0,...,1510.0,1478.0,1486.0,1547.0,1503.0,1388.0,1564.0,1648.0,1620.0,남한 / 원자력
4,남한,신재생,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,86.0,118.0,151.0,173.0,195.0,남한 / 신재생
5,북한,합계,277.0,263.0,247.0,221.0,231.0,230.0,213.0,193.0,...,255.0,235.0,237.0,211.0,215.0,221.0,216.0,190.0,239.0,북한 / 합계
6,북한,수력,156.0,150.0,142.0,133.0,138.0,142.0,125.0,107.0,...,141.0,125.0,134.0,132.0,135.0,139.0,130.0,100.0,128.0,북한 / 수력
7,북한,화력,121.0,113.0,105.0,88.0,93.0,88.0,88.0,86.0,...,114.0,110.0,103.0,79.0,80.0,82.0,86.0,90.0,111.0,북한 / 화력
8,북한,원자력,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,북한 / 원자력

#### 1.6  5번에서 생성된 컬럼을 인덱스로 설정

In [ ]:
electric.set_index(new_ind, inplace = True)
electric.drop(electric.columns[[0,1]], axis = 1, inplace = True)

In [ ]:
electric

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,new_ind
남한 / 합계,1077.0,1186.0,1310.0,1444.0,1650.0,1847.0,2055.0,2244.0,2153.0,2393.0,...,4224.0,4336.0,4747.0,4969.0,5096.0,5171.0,5220.0,5281.0,5404.0,남한 / 합계
남한 / 수력,64.0,51.0,49.0,60.0,41.0,55.0,52.0,54.0,61.0,61.0,...,56.0,56.0,65.0,78.0,77.0,84.0,78.0,58.0,66.0,남한 / 수력
남한 / 화력,484.0,573.0,696.0,803.0,1022.0,1122.0,1264.0,1420.0,1195.0,1302.0,...,2658.0,2802.0,3196.0,3343.0,3430.0,3581.0,3427.0,3402.0,3523.0,남한 / 화력
남한 / 원자력,529.0,563.0,565.0,581.0,587.0,670.0,739.0,771.0,897.0,1031.0,...,1510.0,1478.0,1486.0,1547.0,1503.0,1388.0,1564.0,1648.0,1620.0,남한 / 원자력
남한 / 신재생,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,86.0,118.0,151.0,173.0,195.0,남한 / 신재생
북한 / 합계,277.0,263.0,247.0,221.0,231.0,230.0,213.0,193.0,170.0,186.0,...,255.0,235.0,237.0,211.0,215.0,221.0,216.0,190.0,239.0,북한 / 합계
북한 / 수력,156.0,150.0,142.0,133.0,138.0,142.0,125.0,107.0,102.0,103.0,...,141.0,125.0,134.0,132.0,135.0,139.0,130.0,100.0,128.0,북한 / 수력
북한 / 화력,121.0,113.0,105.0,88.0,93.0,88.0,88.0,86.0,68.0,83.0,...,114.0,110.0,103.0,79.0,80.0,82.0,86.0,90.0,111.0,북한 / 화력
북한 / 원자력,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,북한 / 원자력

## 2. iris

In [ ]:
iris

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

####  2.1 Length 데이터만 추출해서 출력

In [ ]:
# list comprehension 이용
iris[[x for x in iris.columns if 'Length' in x]]

     SepalLength  PetalLength
0            5.1          1.4
1            4.9          1.4
2            4.7          1.3
3            4.6          1.5
4            5.0          1.4
..           ...          ...
145          6.7          5.2
146          6.3          5.0
147          6.5          5.2
148          6.2          5.4
149          5.9          5.1

[150 rows x 2 columns]

In [ ]:
# list comprehension 없이
len_col = []
for x in iris.columns:
    if 'Length' in x:
        len_col.append(x)
        
iris[len_col]

     SepalLength  PetalLength
0            5.1          1.4
1            4.9          1.4
2            4.7          1.3
3            4.6          1.5
4            5.0          1.4
..           ...          ...
145          6.7          5.2
146          6.3          5.0
147          6.5          5.2
148          6.2          5.4
149          5.9          5.1

[150 rows x 2 columns]

#### 2.2 SepalLength 컬럼에서 길이가 5.0보다 큰 걸럼의 SepalLength와 Names

In [ ]:
cond = iris['SepalLength'] > 5.0
iris[['SepalLength', 'Name']][cond]

     SepalLength            Name
0            5.1     Iris-setosa
5            5.4     Iris-setosa
10           5.4     Iris-setosa
14           5.8     Iris-setosa
15           5.7     Iris-setosa
..           ...             ...
145          6.7  Iris-virginica
146          6.3  Iris-virginica
147          6.5  Iris-virginica
148          6.2  Iris-virginica
149          5.9  Iris-virginica

[118 rows x 2 columns]

#### 2.3  Iris-setosa, Iris-versicolor, Iris-virginica에서 각각 최대, 최소 컬럼을 출력

In [ ]:
max_data = iris.groupby('Name').max()
max_result = []
for name in iris.Name.unique():
    name_max_data = max_data.loc[name]
    max_col = name_max_data[name_max_data == name_max_data.max()]
    print(max_col.index.values[0])
    max_result.append(max_col.index.values[0])
    
    
min_data = iris.groupby('Name').max()
min_result = []
for name in iris.Name.unique():
    name_min_data = min_data.loc[name]
    min_col = name_min_data[name_min_data == name_min_data.min()]
    print(name_min_data)
    min_result.append(min_col.index.values[0])
    
pd.DataFrame({'max' : max_result, 'min' : min_result}, index = iris.Name.unique())

SepalLength
SepalLength
SepalLength
SepalLength    5.8
SepalWidth     4.4
PetalLength    1.9
PetalWidth     0.6
Name: Iris-setosa, dtype: float64
SepalLength    7.0
SepalWidth     3.4
PetalLength    5.1
PetalWidth     1.8
Name: Iris-versicolor, dtype: float64
SepalLength    7.9
SepalWidth     3.8
PetalLength    6.9
PetalWidth     2.5
Name: Iris-virginica, dtype: float64

                         max         min
Iris-setosa      SepalLength  PetalWidth
Iris-versicolor  SepalLength  PetalWidth
Iris-virginica   SepalLength  PetalWidth

In [ ]:
iris.groupby('Name').max()

                 SepalLength  SepalWidth  PetalLength  PetalWidth
Name
Iris-setosa              5.8         4.4          1.9         0.6
Iris-versicolor          7.0         3.4          5.1         1.8
Iris-virginica           7.9         3.8          6.9         2.5

In [ ]:
iris.groupby('Name').min()

                 SepalLength  SepalWidth  PetalLength  PetalWidth
Name
Iris-setosa              4.3         2.3          1.0         0.1
Iris-versicolor          4.9         2.0          3.0         1.0
Iris-virginica           4.9         2.2          4.5         1.4

##### groupby 사용 안하고 만들기

In [ ]:
max_cols = []
min_cols = []
    
for name in  iris.Name.unique():
    name_data = iris[iris.Name == name].drop('Name',axis =1)
    name_max_data = name_data.max()
    max_col = name_max_data[name_max_data == name_max_data.max()]
    print(max_col.index.values[0])
    max_cols.append(max_col.index.values[0])

for name in  iris.Name.unique():
    name_data = iris[iris.Name == name].drop('Name',axis =1)
    name_min_data = name_data.min()
    min_col = name_min_data[name_min_data == name_min_data.min()]
    print(min_col.index.values[0])
    min_cols.append(min_col.index.values[0])

    

    
pd.DataFrame({'max' : max_cols, 'min' : min_cols}, index = iris.Name.unique())

SepalLength
SepalLength
SepalLength
PetalWidth
PetalWidth
PetalWidth

                         max         min
Iris-setosa      SepalLength  PetalWidth
Iris-versicolor  SepalLength  PetalWidth
Iris-virginica   SepalLength  PetalWidth