# [실습]
- CSV파일 읽고 컬럼별 최고값과 최고값의 갯수 출력

In [2]:
# 모듈 로딩
import pandas as pd

# 파일 관련 함수 선언
DIR_PATH = r'../Data/'
FILE_NAME = DIR_PATH + 'iris2.csv'

In [3]:
# (1) csv => Dataframe으로 가져오기(단, 0번 row는 읽지않는다)
col = ['SL','SW','PL','PW','N']
iris2 = pd.read_csv(FILE_NAME, header=None, names=col)
iris2DF = pd.DataFrame(iris2)
iris2DF

      SL   SW   PL   PW               N
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [10]:
max_min_data = pd.DataFrame({'max':iris2DF.max(numeric_only = True),
                             'max_count':[len(iris2DF.loc[iris2DF['SL'] == iris2DF['SL'].max()]),
                                          len(iris2DF.loc[iris2DF['SW'] == iris2DF['SW'].max()]),
                                          len(iris2DF.loc[iris2DF['PL'] == iris2DF['PL'].max()]),
                                          len(iris2DF.loc[iris2DF['PW'] == iris2DF['PW'].max()])],
                             'min':iris2DF.min(numeric_only = True),
                             'min_count':[len(iris2DF.loc[iris2DF['SL'] == iris2DF['SL'].min()]),
                                          len(iris2DF.loc[iris2DF['SW'] == iris2DF['SW'].min()]),
                                          len(iris2DF.loc[iris2DF['PL'] == iris2DF['PL'].min()]),
                                          len(iris2DF.loc[iris2DF['PW'] == iris2DF['PW'].min()])]
                            }).transpose()
max_min_data

            SL   SW   PL   PW
max        7.9  4.4  6.9  2.5
max_count  1.0  1.0  1.0  3.0
min        4.3  2.0  1.0  0.1
min_count  1.0  1.0  1.0  6.0

In [8]:
# 컬럼 내의 값이 NaN, Na인 것도 포함하려면 dropna = False
iris2DF['SL'].value_counts(dropna=False)

5.1    9
5.0    9
6.3    8
6.7    8
5.7    8
5.8    7
5.5    7
6.4    7
6.0    6
6.1    6
4.9    6
5.6    6
5.4    5
6.5    5
4.8    5
6.2    4
7.7    4
6.9    4
4.6    4
5.2    4
NaN    4
5.9    3
7.2    3
6.8    3
6.6    2
4.7    2
4.4    2
7.6    1
7.4    1
7.3    1
7.0    1
7.1    1
5.3    1
4.3    1
4.5    1
7.9    1
Name: SL, dtype: int64