# 남북한발전전력량.xlsx에서 아래 결과를 도출하세요.

### 1. DataFrame 형식으로 데이터를 가져오세요

### 2. 요약정보를 출력해주세요

### 3. 1990 ~ 2016 컬럼에서 컬럼별 최대값, 최소값을 출력해주세요.

### 4. 1990 ~ 2016 컬럼에서 짝수 컬럼 데이터만 출력해주세요.

### 5. 전력량과 발전 전력별을 하나의 컬럼으로 합치고 새로운 컬럼으로 추가해 주세요.

### 6. 5번에서 생선된 컬럼을 인덱스로 설정해 주세요

In [1]:
# padnas 호출
import pandas as pd

In [2]:
# 1. DataFrame 형식으로 데이터를 가져오세요

# '남북한발전전력량.xlsx' 파일 읽어오기, NaN 값을 탐지하지 않음 설정
df_EP = pd.read_excel('../../Data/남북한발전전력량.xlsx', na_values='-')
df_EP.fillna
df_EP

,전력량 (억㎾h),발전 전력별,1990,1991,1992,1993,1994,1995,1996,1997,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,남한,합계,1077.0,1186.0,1310.0,1444.0,1650.0,1847.0,2055.0,2244.0,...,4031.0,4224.0,4336.0,4747.0,4969.0,5096.0,5171.0,5220.0,5281.0,5404.0
1,NaN,수력,64.0,51.0,49.0,60.0,41.0,55.0,52.0,54.0,...,50.0,56.0,56.0,65.0,78.0,77.0,84.0,78.0,58.0,66.0
2,NaN,화력,484.0,573.0,696.0,803.0,1022.0,1122.0,1264.0,1420.0,...,2551.0,2658.0,2802.0,3196.0,3343.0,3430.0,3581.0,3427.0,3402.0,3523.0
3,NaN,원자력,529.0,563.0,565.0,581.0,587.0,670.0,739.0,771.0,...,1429.0,1510.0,1478.0,1486.0,1547.0,1503.0,1388.0,1564.0,1648.0,1620.0
4,NaN,신재생,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,86.0,118.0,151.0,173.0,195.0
5,북한,합계,277.0,263.0,247.0,221.0,231.0,230.0,213.0,193.0,...,236.0,255.0,235.0,237.0,211.0,215.0,221.0,216.0,190.0,239.0
6,NaN,수력,156.0,150.0,142.0,133.0,138.0,142.0,125.0,107.0,...,133.0,141.0,125.0,134.0,132.0,135.0,139.0,130.0,100.0,128.0
7,NaN,화력,121.0,113.0,105.0,88.0,93.0,88.0,88.0,86.0,...,103.0,114.0,110.0,103.0,79.0,80.0,82.0,86.0,90.0,111.0
8,NaN,원자력,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# 2. 요약정보를 출력해주세요
print(f'간략정보 : \n{df_EP.info()}')

print(f'행정보 : \n{df_EP.index}', f'열정보 : \n{df_EP.columns}', f'모양정보 : \n{df_EP.shape}', sep='\n\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 29 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   전력량 (억㎾h)  2 non-null      object
 1   발전 전력별     9 non-null      object
 2   1990       7 non-null      float64
 3   1991       7 non-null      float64
 4   1992       7 non-null      float64
 5   1993       7 non-null      float64
 6   1994       7 non-null      float64
 7   1995       7 non-null      float64
 8   1996       7 non-null      float64
 9   1997       7 non-null      float64
 10  1998       7 non-null      float64
 11  1999       7 non-null      float64
 12  2000       7 non-null      float64
 13  2001       7 non-null      float64
 14  2002       7 non-null      float64
 15  2003       7 non-null      float64
 16  2004       7 non-null      float64
 17  2005       7 non-null      float64
 18  2006       7 non-null      float64
 19  2007       7 non-null      float64
 20  2008       7 non-null      float64
 21  2009       7 non-null      float64
 22  2010       7 non-null      float64
 23  2011       7 non-null      float64
 24  2012       8 non-null      float64
 25  2013       8 non-null      float64
 26  2014       8 non-null      float64
 27  2015       8 non-null      float64
 28  2016       8 non-null      float64
dtypes: float64(27), object(2)
memory usage: 2.2+ KB
간략정보 :
None
행정보 :
RangeIndex(start=0, stop=9, step=1)

열정보 :
Index(['전력량 (억㎾h)', '발전 전력별', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016'],
      dtype='object')

모양정보 :
(9, 29)

In [4]:
# 3. 1990 ~ 2016 컬럼에서 컬럼별 최대값, 최소값을 출력해주세요.

# 1990~2016 까지 컬럼값 추출
year = df_EP.columns[2:]

def yearMaxMin():
    for i in range(0,len(year)):
        df_EP_year = df_EP[year[i]]
        df_EP_year_max = df_EP_year.max()
        df_EP_year_min = df_EP_year.min()
        print(f'{year[i]}의 최대값 : {df_EP_year_max}', f'{year[i]}의 최소값 : {df_EP_year_min}', sep='\n')
        
yearMaxMin()

1990의 최대값 : 1077.0
1990의 최소값 : 64.0
1991의 최대값 : 1186.0
1991의 최소값 : 51.0
1992의 최대값 : 1310.0
1992의 최소값 : 49.0
1993의 최대값 : 1444.0
1993의 최소값 : 60.0
1994의 최대값 : 1650.0
1994의 최소값 : 41.0
1995의 최대값 : 1847.0
1995의 최소값 : 55.0
1996의 최대값 : 2055.0
1996의 최소값 : 52.0
1997의 최대값 : 2244.0
1997의 최소값 : 54.0
1998의 최대값 : 2153.0
1998의 최소값 : 61.0
1999의 최대값 : 2393.0
1999의 최소값 : 61.0
2000의 최대값 : 2664.0
2000의 최소값 : 56.0
2001의 최대값 : 2852.0
2001의 최소값 : 42.0
2002의 최대값 : 3065.0
2002의 최소값 : 53.0
2003의 최대값 : 3225.0
2003의 최소값 : 69.0
2004의 최대값 : 3421.0
2004의 최소값 : 59.0
2005의 최대값 : 3646.0
2005의 최소값 : 52.0
2006의 최대값 : 3812.0
2006의 최소값 : 52.0
2007의 최대값 : 4031.0
2007의 최소값 : 50.0
2008의 최대값 : 4224.0
2008의 최소값 : 56.0
2009의 최대값 : 4336.0
2009의 최소값 : 56.0
2010의 최대값 : 4747.0
2010의 최소값 : 65.0
2011의 최대값 : 4969.0
2011의 최소값 : 78.0
2012의 최대값 : 5096.0
2012의 최소값 : 77.0
2013의 최대값 : 5171.0
2013의 최소값 : 82.0
2014의 최대값 : 5220.0
2014의 최소값 : 78.0
2015의 최대값 : 5281.0
2015의 최소값 : 58.0
2016의 최대값 : 5404.0
2016의 최소값 : 66.0

In [5]:
# 4. 1990 ~ 2016 컬럼에서 짝수 컬럼 데이터만 출력해주세요.

def yearEven():
    # year 리스트에서
    for i in range(0,len(year)):
        # 2로 나눠 떨어지는 경우
        if int(year[i]) % 2 == 0 :
            # 해당 연도 컬럼 
            print(f'{year[i]} : \n{df_EP[year[i]]}')
        
yearEven()

1990 :
0    1077.0
1      64.0
2     484.0
3     529.0
4       NaN
5     277.0
6     156.0
7     121.0
8       NaN
Name: 1990, dtype: float64
1992 :
0    1310.0
1      49.0
2     696.0
3     565.0
4       NaN
5     247.0
6     142.0
7     105.0
8       NaN
Name: 1992, dtype: float64
1994 :
0    1650.0
1      41.0
2    1022.0
3     587.0
4       NaN
5     231.0
6     138.0
7      93.0
8       NaN
Name: 1994, dtype: float64
1996 :
0    2055.0
1      52.0
2    1264.0
3     739.0
4       NaN
5     213.0
6     125.0
7      88.0
8       NaN
Name: 1996, dtype: float64
1998 :
0    2153.0
1      61.0
2    1195.0
3     897.0
4       NaN
5     170.0
6     102.0
7      68.0
8       NaN
Name: 1998, dtype: float64
2000 :
0    2664.0
1      56.0
2    1518.0
3    1090.0
4       NaN
5     194.0
6     102.0
7      92.0
8       NaN
Name: 2000, dtype: float64
2002 :
0    3065.0
1      53.0
2    1821.0
3    1191.0
4       NaN
5     190.0
6     106.0
7      84.0
8       NaN
Name: 2002, dtype: float64
2004 :
0    3421.0
1      59.0
2    2056.0
3    1307.0
4       NaN
5     206.0
6     125.0
7      81.0
8       NaN
Name: 2004, dtype: float64
2006 :
0    3812.0
1      52.0
2    2272.0
3    1487.0
4       NaN
5     225.0
6     126.0
7      99.0
8       NaN
Name: 2006, dtype: float64
2008 :
0    4224.0
1      56.0
2    2658.0
3    1510.0
4       NaN
5     255.0
6     141.0
7     114.0
8       NaN
Name: 2008, dtype: float64
2010 :
0    4747.0
1      65.0
2    3196.0
3    1486.0
4       NaN
5     237.0
6     134.0
7     103.0
8       NaN
Name: 2010, dtype: float64
2012 :
0    5096.0
1      77.0
2    3430.0
3    1503.0
4      86.0
5     215.0
6     135.0
7      80.0
8       NaN
Name: 2012, dtype: float64
2014 :
0    5220.0
1      78.0
2    3427.0
3    1564.0
4     151.0
5     216.0
6     130.0
7      86.0
8       NaN
Name: 2014, dtype: float64
2016 :
0    5404.0
1      66.0
2    3523.0
3    1620.0
4     195.0
5     239.0
6     128.0
7     111.0
8       NaN
Name: 2016, dtype: float64

In [6]:
# 5. 전력량과 발전 전력별을 하나의 컬럼으로 합치고 새로운 컬럼으로 추가해 주세요.
volume=df_EP['전력량 (억㎾h)']
volume[:5]='남한'
volume[5:]='북한'

df_EP['전력량 (억㎾h)_발전 전력별']=df_EP['전력량 (억㎾h)']+'_'+df_EP['발전 전력별']
df_EP

C:\Users\LJH\AppData\Local\Temp\ipykernel_11788\3965541098.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  volume[:5]='남한'
C:\Users\LJH\AppData\Local\Temp\ipykernel_11788\3965541098.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  volume[5:]='북한'

,전력량 (억㎾h),발전 전력별,1990,1991,1992,1993,1994,1995,1996,1997,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,전력량 (억㎾h)_발전 전력별
0,남한,합계,1077.0,1186.0,1310.0,1444.0,1650.0,1847.0,2055.0,2244.0,...,4224.0,4336.0,4747.0,4969.0,5096.0,5171.0,5220.0,5281.0,5404.0,남한_합계
1,남한,수력,64.0,51.0,49.0,60.0,41.0,55.0,52.0,54.0,...,56.0,56.0,65.0,78.0,77.0,84.0,78.0,58.0,66.0,남한_수력
2,남한,화력,484.0,573.0,696.0,803.0,1022.0,1122.0,1264.0,1420.0,...,2658.0,2802.0,3196.0,3343.0,3430.0,3581.0,3427.0,3402.0,3523.0,남한_화력
3,남한,원자력,529.0,563.0,565.0,581.0,587.0,670.0,739.0,771.0,...,1510.0,1478.0,1486.0,1547.0,1503.0,1388.0,1564.0,1648.0,1620.0,남한_원자력
4,남한,신재생,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,86.0,118.0,151.0,173.0,195.0,남한_신재생
5,북한,합계,277.0,263.0,247.0,221.0,231.0,230.0,213.0,193.0,...,255.0,235.0,237.0,211.0,215.0,221.0,216.0,190.0,239.0,북한_합계
6,북한,수력,156.0,150.0,142.0,133.0,138.0,142.0,125.0,107.0,...,141.0,125.0,134.0,132.0,135.0,139.0,130.0,100.0,128.0,북한_수력
7,북한,화력,121.0,113.0,105.0,88.0,93.0,88.0,88.0,86.0,...,114.0,110.0,103.0,79.0,80.0,82.0,86.0,90.0,111.0,북한_화력
8,북한,원자력,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,북한_원자력

In [7]:
# 6. 5번에서 생선된 컬럼을 인덱스로 설정해 주세요
df_EP.index = df_EP['전력량 (억㎾h)_발전 전력별']
df_EP

,전력량 (억㎾h),발전 전력별,1990,1991,1992,1993,1994,1995,1996,1997,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,전력량 (억㎾h)_발전 전력별
전력량 (억㎾h)_발전 전력별,,,,,,,,,,,,,,,,,,,,,
남한_합계,남한,합계,1077.0,1186.0,1310.0,1444.0,1650.0,1847.0,2055.0,2244.0,...,4224.0,4336.0,4747.0,4969.0,5096.0,5171.0,5220.0,5281.0,5404.0,남한_합계
남한_수력,남한,수력,64.0,51.0,49.0,60.0,41.0,55.0,52.0,54.0,...,56.0,56.0,65.0,78.0,77.0,84.0,78.0,58.0,66.0,남한_수력
남한_화력,남한,화력,484.0,573.0,696.0,803.0,1022.0,1122.0,1264.0,1420.0,...,2658.0,2802.0,3196.0,3343.0,3430.0,3581.0,3427.0,3402.0,3523.0,남한_화력
남한_원자력,남한,원자력,529.0,563.0,565.0,581.0,587.0,670.0,739.0,771.0,...,1510.0,1478.0,1486.0,1547.0,1503.0,1388.0,1564.0,1648.0,1620.0,남한_원자력
남한_신재생,남한,신재생,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,86.0,118.0,151.0,173.0,195.0,남한_신재생
북한_합계,북한,합계,277.0,263.0,247.0,221.0,231.0,230.0,213.0,193.0,...,255.0,235.0,237.0,211.0,215.0,221.0,216.0,190.0,239.0,북한_합계
북한_수력,북한,수력,156.0,150.0,142.0,133.0,138.0,142.0,125.0,107.0,...,141.0,125.0,134.0,132.0,135.0,139.0,130.0,100.0,128.0,북한_수력
북한_화력,북한,화력,121.0,113.0,105.0,88.0,93.0,88.0,88.0,86.0,...,114.0,110.0,103.0,79.0,80.0,82.0,86.0,90.0,111.0,북한_화력
북한_원자력,북한,원자력,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,북한_원자력