In [338]:
# 모듈 로딩
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import font_manager as fm, rc
import seaborn as sns

In [339]:
# 폰트 등록
FONT_PATH = '../Fonts/malgun.ttf'
font_name = fm.FontProperties(fname=FONT_PATH).get_name()
rc('font', family=font_name)
# 그래프의 한글 텍스트가 깨지지 않기 위함.

In [340]:
# 파일 관련 변수들
DIR = '../projectData/'
NAVER01 = DIR + 'datalabNaver.xlsx'
GOOGLE01 = DIR + 'multiTimelineGoogle.csv'

naverDF01 = pd.read_excel(NAVER01, skiprows=6)
googleDF01 = pd.read_csv(GOOGLE01, skiprows=1)

C:\Users\User\AppData\Roaming\Python\Python39\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [341]:
# 네이버 검색량 정보 보기
naverDF01.head()

,날짜,중고거래,날짜.1,당근마켓,날짜.2,중고나라,날짜.3,직거래,날짜.4,중고차
0,2020-01-01,0.08157,2020-01-01,3.70880,2020-01-01,37.48491,2020-01-01,0.02619,2020-01-01,3.76649
1,2020-01-02,0.09914,2020-01-02,4.42502,2020-01-02,43.24159,2020-01-02,0.03216,2020-01-02,4.24796
2,2020-01-03,0.09947,2020-01-03,4.21447,2020-01-03,41.77432,2020-01-03,0.04343,2020-01-03,3.97572
3,2020-01-04,0.09118,2020-01-04,4.12626,2020-01-04,39.50527,2020-01-04,0.03116,2020-01-04,4.02513
4,2020-01-05,0.08289,2020-01-05,4.36998,2020-01-05,40.74043,2020-01-05,0.03017,2020-01-05,4.24365

In [342]:
# 구글 검색량 정보 보기
googleDF01.head()

,주,중고거래: (대한민국),당근마켓: (대한민국),중고나라: (대한민국),직거래: (대한민국),중고차: (대한민국)
0,2020-01-05,7,22,81,16,66
1,2020-01-12,7,24,66,18,76
2,2020-01-19,9,19,84,18,93
3,2020-01-26,7,30,81,15,79
4,2020-02-02,6,29,77,13,83

In [343]:
# 결측치 확인
naverDF01.isna().sum()
googleDF01.isna().sum()

주               0
중고거래: (대한민국)    0
당근마켓: (대한민국)    0
중고나라: (대한민국)    0
직거래: (대한민국)     0
중고차: (대한민국)     0
dtype: int64

In [344]:
# naverDF01 불필요한 컬럼 삭제
try:
    naverDF01.drop(['날짜.1', '날짜.2', '날짜.3', '날짜.4'], axis=1, inplace=True)

except KeyError:
    pass
naverDF01

             날짜     중고거래      당근마켓      중고나라      직거래      중고차
0    2020-01-01  0.08157   3.70880  37.48491  0.02619  3.76649
1    2020-01-02  0.09914   4.42502  43.24159  0.03216  4.24796
2    2020-01-03  0.09947   4.21447  41.77432  0.04343  3.97572
3    2020-01-04  0.09118   4.12626  39.50527  0.03116  4.02513
4    2020-01-05  0.08289   4.36998  40.74043  0.03017  4.24365
..          ...      ...       ...       ...      ...      ...
916  2022-07-05  0.12699  10.24504  24.13953  0.03183  6.12905
917  2022-07-06  0.12567  10.24537  23.96279  0.02752  6.08561
918  2022-07-07  0.12235  10.18701  23.79269  0.02752  5.80409
919  2022-07-08  0.09781   9.60607  22.18648  0.03713  5.53518
920  2022-07-09  0.08654   8.34040  20.16745  0.02719  5.33589

[921 rows x 6 columns]

In [345]:
# naverDF01 날짜를 인덱스로 설정
try:
    naverDF01.set_index('날짜', inplace=True)

except KeyError:
    pass
naverDF01

               중고거래      당근마켓      중고나라      직거래      중고차
날짜
2020-01-01  0.08157   3.70880  37.48491  0.02619  3.76649
2020-01-02  0.09914   4.42502  43.24159  0.03216  4.24796
2020-01-03  0.09947   4.21447  41.77432  0.04343  3.97572
2020-01-04  0.09118   4.12626  39.50527  0.03116  4.02513
2020-01-05  0.08289   4.36998  40.74043  0.03017  4.24365
...             ...       ...       ...      ...      ...
2022-07-05  0.12699  10.24504  24.13953  0.03183  6.12905
2022-07-06  0.12567  10.24537  23.96279  0.02752  6.08561
2022-07-07  0.12235  10.18701  23.79269  0.02752  5.80409
2022-07-08  0.09781   9.60607  22.18648  0.03713  5.53518
2022-07-09  0.08654   8.34040  20.16745  0.02719  5.33589

[921 rows x 5 columns]

In [346]:
# googleDF01 날짜를 인덱스로 설정
try:
    googleDF01.set_index('주', inplace=True)

except KeyError:
    pass
googleDF01

            중고거래: (대한민국)  당근마켓: (대한민국)  중고나라: (대한민국)  직거래: (대한민국)  중고차: (대한민국)
주
2020-01-05             7            22            81           16           66
2020-01-12             7            24            66           18           76
2020-01-19             9            19            84           18           93
2020-01-26             7            30            81           15           79
2020-02-02             6            29            77           13           83
...                  ...           ...           ...          ...          ...
2022-06-05             8            67            31           11           62
2022-06-12            13            64            38            7           70
2022-06-19             7            69            35           12           73
2022-06-26             7            72            36            7           70
2022-07-03             8            72            41           10           60

[131 rows x 5 columns]

In [347]:
# googleDF01 컬럼명 = naverDF01 컬럼명
googleDF01.columns = naverDF01.columns
naverDF01

               중고거래      당근마켓      중고나라      직거래      중고차
날짜
2020-01-01  0.08157   3.70880  37.48491  0.02619  3.76649
2020-01-02  0.09914   4.42502  43.24159  0.03216  4.24796
2020-01-03  0.09947   4.21447  41.77432  0.04343  3.97572
2020-01-04  0.09118   4.12626  39.50527  0.03116  4.02513
2020-01-05  0.08289   4.36998  40.74043  0.03017  4.24365
...             ...       ...       ...      ...      ...
2022-07-05  0.12699  10.24504  24.13953  0.03183  6.12905
2022-07-06  0.12567  10.24537  23.96279  0.02752  6.08561
2022-07-07  0.12235  10.18701  23.79269  0.02752  5.80409
2022-07-08  0.09781   9.60607  22.18648  0.03713  5.53518
2022-07-09  0.08654   8.34040  20.16745  0.02719  5.33589

[921 rows x 5 columns]

In [348]:
googleDF01.corr()

          중고거래      당근마켓      중고나라       직거래       중고차
중고거래  1.000000  0.051169  0.116109 -0.029778  0.052952
당근마켓  0.051169  1.000000 -0.446837 -0.208586  0.023453
중고나라  0.116109 -0.446837  1.000000  0.579418  0.344095
직거래  -0.029778 -0.208586  0.579418  1.000000  0.438559
중고차   0.052952  0.023453  0.344095  0.438559  1.000000

In [349]:
naverDF01.corr()

          중고거래      당근마켓      중고나라       직거래       중고차
중고거래  1.000000  0.257352  0.187830  0.311883  0.195497
당근마켓  0.257352  1.000000 -0.008072  0.179093  0.281712
중고나라  0.187830 -0.008072  1.000000  0.617583 -0.537853
직거래   0.311883  0.179093  0.617583  1.000000 -0.113787
중고차   0.195497  0.281712 -0.537853 -0.113787  1.000000

In [350]:
# 날짜를 인덱스 -> 컬럼으로 옮기고
# int/float -> datetime으로 형변환 astype / to_datetime
# 오름차순 정렬
# 월별로 나누기(타임레인지)
# 그래프

In [351]:
a= naverDF01.reset_index('날짜')
a

             날짜     중고거래      당근마켓      중고나라      직거래      중고차
0    2020-01-01  0.08157   3.70880  37.48491  0.02619  3.76649
1    2020-01-02  0.09914   4.42502  43.24159  0.03216  4.24796
2    2020-01-03  0.09947   4.21447  41.77432  0.04343  3.97572
3    2020-01-04  0.09118   4.12626  39.50527  0.03116  4.02513
4    2020-01-05  0.08289   4.36998  40.74043  0.03017  4.24365
..          ...      ...       ...       ...      ...      ...
916  2022-07-05  0.12699  10.24504  24.13953  0.03183  6.12905
917  2022-07-06  0.12567  10.24537  23.96279  0.02752  6.08561
918  2022-07-07  0.12235  10.18701  23.79269  0.02752  5.80409
919  2022-07-08  0.09781   9.60607  22.18648  0.03713  5.53518
920  2022-07-09  0.08654   8.34040  20.16745  0.02719  5.33589

[921 rows x 6 columns]

In [352]:
a['날짜']=pd.to_datetime(a['날짜'])
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 921 entries, 0 to 920
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      921 non-null    datetime64[ns]
 1   중고거래    921 non-null    float64
 2   당근마켓    921 non-null    float64
 3   중고나라    921 non-null    float64
 4   직거래     921 non-null    float64
 5   중고차     921 non-null    float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 43.3 KB

In [353]:
sorted(a['날짜'])

[Timestamp('2020-01-01 00:00:00'),
 Timestamp('2020-01-02 00:00:00'),
 Timestamp('2020-01-03 00:00:00'),
 Timestamp('2020-01-04 00:00:00'),
 Timestamp('2020-01-05 00:00:00'),
 Timestamp('2020-01-06 00:00:00'),
 Timestamp('2020-01-07 00:00:00'),
 Timestamp('2020-01-08 00:00:00'),
 Timestamp('2020-01-09 00:00:00'),
 Timestamp('2020-01-10 00:00:00'),
 Timestamp('2020-01-11 00:00:00'),
 Timestamp('2020-01-12 00:00:00'),
 Timestamp('2020-01-13 00:00:00'),
 Timestamp('2020-01-14 00:00:00'),
 Timestamp('2020-01-15 00:00:00'),
 Timestamp('2020-01-16 00:00:00'),
 Timestamp('2020-01-17 00:00:00'),
 Timestamp('2020-01-18 00:00:00'),
 Timestamp('2020-01-19 00:00:00'),
 Timestamp('2020-01-20 00:00:00'),
 Timestamp('2020-01-21 00:00:00'),
 Timestamp('2020-01-22 00:00:00'),
 Timestamp('2020-01-23 00:00:00'),
 Timestamp('2020-01-24 00:00:00'),
 Timestamp('2020-01-25 00:00:00'),
 Timestamp('2020-01-26 00:00:00'),
 Timestamp('2020-01-27 00:00:00'),
 Timestamp('2020-01-28 00:00:00'),
 Timestamp('2020-01-29 00:00:00'),
 Timestamp('2020-01-30 00:00:00'),
 Timestamp('2020-01-31 00:00:00'),
 Timestamp('2020-02-01 00:00:00'),
 Timestamp('2020-02-02 00:00:00'),
 Timestamp('2020-02-03 00:00:00'),
 Timestamp('2020-02-04 00:00:00'),
 Timestamp('2020-02-05 00:00:00'),
 Timestamp('2020-02-06 00:00:00'),
 Timestamp('2020-02-07 00:00:00'),
 Timestamp('2020-02-08 00:00:00'),
 Timestamp('2020-02-09 00:00:00'),
 Timestamp('2020-02-10 00:00:00'),
 Timestamp('2020-02-11 00:00:00'),
 Timestamp('2020-02-12 00:00:00'),
 Timestamp('2020-02-13 00:00:00'),
 Timestamp('2020-02-14 00:00:00'),
 Timestamp('2020-02-15 00:00:00'),
 Timestamp('2020-02-16 00:00:00'),
 Timestamp('2020-02-17 00:00:00'),
 Timestamp('2020-02-18 00:00:00'),
 Timestamp('2020-02-19 00:00:00'),
 Timestamp('2020-02-20 00:00:00'),
 Timestamp('2020-02-21 00:00:00'),
 Timestamp('2020-02-22 00:00:00'),
 Timestamp('2020-02-23 00:00:00'),
 Timestamp('2020-02-24 00:00:00'),
 Timestamp('2020-02-25 00:00:00'),
 Timestamp('2020-02-26 00:00:00'),
 Timestamp('2020-02-27 00:00:00'),
 Timestamp('2020-02-28 00:00:00'),
 Timestamp('2020-02-29 00:00:00'),
 Timestamp('2020-03-01 00:00:00'),
 Timestamp('2020-03-02 00:00:00'),
 Timestamp('2020-03-03 00:00:00'),
 Timestamp('2020-03-04 00:00:00'),
 Timestamp('2020-03-05 00:00:00'),
 Timestamp('2020-03-06 00:00:00'),
 Timestamp('2020-03-07 00:00:00'),
 Timestamp('2020-03-08 00:00:00'),
 Timestamp('2020-03-09 00:00:00'),
 Timestamp('2020-03-10 00:00:00'),
 Timestamp('2020-03-11 00:00:00'),
 Timestamp('2020-03-12 00:00:00'),
 Timestamp('2020-03-13 00:00:00'),
 Timestamp('2020-03-14 00:00:00'),
 Timestamp('2020-03-15 00:00:00'),
 Timestamp('2020-03-16 00:00:00'),
 Timestamp('2020-03-17 00:00:00'),
 Timestamp('2020-03-18 00:00:00'),
 Timestamp('2020-03-19 00:00:00'),
 Timestamp('2020-03-20 00:00:00'),
 Timestamp('2020-03-21 00:00:00'),
 Timestamp('2020-03-22 00:00:00'),
 Timestamp('2020-03-23 00:00:00'),
 Timestamp('2020-03-24 00:00:00'),
 Timestamp('2020-03-25 00:00:00'),
 Timestamp('2020-03-26 00:00:00'),
 Timestamp('2020-03-27 00:00:00'),
 Timestamp('2020-03-28 00:00:00'),
 Timestamp('2020-03-29 00:00:00'),
 Timestamp('2020-03-30 00:00:00'),
 Timestamp('2020-03-31 00:00:00'),
 Timestamp('2020-04-01 00:00:00'),
 Timestamp('2020-04-02 00:00:00'),
 Timestamp('2020-04-03 00:00:00'),
 Timestamp('2020-04-04 00:00:00'),
 Timestamp('2020-04-05 00:00:00'),
 Timestamp('2020-04-06 00:00:00'),
 Timestamp('2020-04-07 00:00:00'),
 Timestamp('2020-04-08 00:00:00'),
 Timestamp('2020-04-09 00:00:00'),
 Timestamp('2020-04-10 00:00:00'),
 Timestamp('2020-04-11 00:00:00'),
 Timestamp('2020-04-12 00:00:00'),
 Timestamp('2020-04-13 00:00:00'),
 Timestamp('2020-04-14 00:00:00'),
 Timestamp('2020-04-15 00:00:00'),
 Timestamp('2020-04-16 00:00:00'),
 Timestamp('2020-04-17 00:00:00'),
 Timestamp('2020-04-18 00:00:00'),
 Timestamp('2020-04-19 00:00:00'),
 Timestamp('2020-04-20 00:00:00'),
 Timestamp('2020-04-21 00:00:00'),
 Timestamp('2020-04-22 00:00:00'),
 Timestamp('2020-04-23 00:00:00'),
 Timestamp('2020-04-24 00:00:00'),
 Timestamp('2020-04-25 00:00:00'),
 Timestamp('2020-04-26 00:00:00'),
 Timestamp('2020-04-27 00:00:00'),
 Timestamp('2020-04-28 00:00:00'),
 Timestamp('2020-04-29 00:00:00'),
 Timestamp('2020-04-30 00:00:00'),
 Timestamp('2020-05-01 00:00:00'),
 Timestamp('2020-05-02 00:00:00'),
 Timestamp('2020-05-03 00:00:00'),
 Timestamp('2020-05-04 00:00:00'),
 Timestamp('2020-05-05 00:00:00'),
 Timestamp('2020-05-06 00:00:00'),
 Timestamp('2020-05-07 00:00:00'),
 Timestamp('2020-05-08 00:00:00'),
 Timestamp('2020-05-09 00:00:00'),
 Timestamp('2020-05-10 00:00:00'),
 Timestamp('2020-05-11 00:00:00'),
 Timestamp('2020-05-12 00:00:00'),
 Timestamp('2020-05-13 00:00:00'),
 Timestamp('2020-05-14 00:00:00'),
 Timestamp('2020-05-15 00:00:00'),
 Timestamp('2020-05-16 00:00:00'),
 Timestamp('2020-05-17 00:00:00'),
 Timestamp('2020-05-18 00:00:00'),
 Timestamp('2020-05-19 00:00:00'),
 Timestamp('2020-05-20 00:00:00'),
 Timestamp('2020-05-21 00:00:00'),
 Timestamp('2020-05-22 00:00:00'),
 Timestamp('2020-05-23 00:00:00'),
 Timestamp('2020-05-24 00:00:00'),
 Timestamp('2020-05-25 00:00:00'),
 Timestamp('2020-05-26 00:00:00'),
 Timestamp('2020-05-27 00:00:00'),
 Timestamp('2020-05-28 00:00:00'),
 Timestamp('2020-05-29 00:00:00'),
 Timestamp('2020-05-30 00:00:00'),
 Timestamp('2020-05-31 00:00:00'),
 Timestamp('2020-06-01 00:00:00'),
 Timestamp('2020-06-02 00:00:00'),
 Timestamp('2020-06-03 00:00:00'),
 Timestamp('2020-06-04 00:00:00'),
 Timestamp('2020-06-05 00:00:00'),
 Timestamp('2020-06-06 00:00:00'),
 Timestamp('2020-06-07 00:00:00'),
 Timestamp('2020-06-08 00:00:00'),
 Timestamp('2020-06-09 00:00:00'),
 Timestamp('2020-06-10 00:00:00'),
 Timestamp('2020-06-11 00:00:00'),
 Timestamp('2020-06-12 00:00:00'),
 Timestamp('2020-06-13 00:00:00'),
 Timestamp('2020-06-14 00:00:00'),
 Timestamp('2020-06-15 00:00:00'),
 Timestamp('2020-06-16 00:00:00'),
 Timestamp('2020-06-17 00:00:00'),
 Timestamp('2020-06-18 00:00:00'),
 Timestamp('2020-06-19 00:00:00'),
 Timestamp('2020-06-20 00:00:00'),
 Timestamp('2020-06-21 00:00:00'),
 Timestamp('2020-06-22 00:00:00'),
 Timestamp('2020-06-23 00:00:00'),
 Timestamp('2020-06-24 00:00:00'),
 Timestamp('2020-06-25 00:00:00'),
 Timestamp('2020-06-26 00:00:00'),
 Timestamp('2020-06-27 00:00:00'),
 Timestamp('2020-06-28 00:00:00'),
 Timestamp('2020-06-29 00:00:00'),
 Timestamp('2020-06-30 00:00:00'),
 Timestamp('2020-07-01 00:00:00'),
 Timestamp('2020-07-02 00:00:00'),
 Timestamp('2020-07-03 00:00:00'),
 Timestamp('2020-07-04 00:00:00'),
 Timestamp('2020-07-05 00:00:00'),
 Timestamp('2020-07-06 00:00:00'),
 Timestamp('2020-07-07 00:00:00'),
 Timestamp('2020-07-08 00:00:00'),
 Timestamp('2020-07-09 00:00:00'),
 Timestamp('2020-07-10 00:00:00'),
 Timestamp('2020-07-11 00:00:00'),
 Timestamp('2020-07-12 00:00:00'),
 Timestamp('2020-07-13 00:00:00'),
 Timestamp('2020-07-14 00:00:00'),
 Timestamp('2020-07-15 00:00:00'),
 Timestamp('2020-07-16 00:00:00'),
 Timestamp('2020-07-17 00:00:00'),
 Timestamp('2020-07-18 00:00:00'),
 Timestamp('2020-07-19 00:00:00'),
 Timestamp('2020-07-20 00:00:00'),
 Timestamp('2020-07-21 00:00:00'),
 Timestamp('2020-07-22 00:00:00'),
 Timestamp('2020-07-23 00:00:00'),
 Timestamp('2020-07-24 00:00:00'),
 Timestamp('2020-07-25 00:00:00'),
 Timestamp('2020-07-26 00:00:00'),
 Timestamp('2020-07-27 00:00:00'),
 Timestamp('2020-07-28 00:00:00'),
 Timestamp('2020-07-29 00:00:00'),
 Timestamp('2020-07-30 00:00:00'),
 Timestamp('2020-07-31 00:00:00'),
 Timestamp('2020-08-01 00:00:00'),
 Timestamp('2020-08-02 00:00:00'),
 Timestamp('2020-08-03 00:00:00'),
 Timestamp('2020-08-04 00:00:00'),
 Timestamp('2020-08-05 00:00:00'),
 Timestamp('2020-08-06 00:00:00'),
 Timestamp('2020-08-07 00:00:00'),
 Timestamp('2020-08-08 00:00:00'),
 Timestamp('2020-08-09 00:00:00'),
 Timestamp('2020-08-10 00:00:00'),
 Timestamp('2020-08-11 00:00:00'),
 Timestamp('2020-08-12 00:00:00'),
 Timestamp('2020-08-13 00:00:00'),
 Timestamp('2020-08-14 00:00:00'),
 Timestamp('2020-08-15 00:00:00'),
 Timestamp('2020-08-16 00:00:00'),
 Timestamp('2020-08-17 00:00:00'),
 Timestamp('2020-08-18 00:00:00'),
 Timestamp('2020-08-19 00:00:00'),
 Timestamp('2020-08-20 00:00:00'),
 Timestamp('2020-08-21 00:00:00'),
 Timestamp('2020-08-22 00:00:00'),
 Timestamp('2020-08-23 00:00:00'),
 Timestamp('2020-08-24 00:00:00'),
 Timestamp('2020-08-25 00:00:00'),
 Timestamp('2020-08-26 00:00:00'),
 Timestamp('2020-08-27 00:00:00'),
 Timestamp('2020-08-28 00:00:00'),
 Timestamp('2020-08-29 00:00:00'),
 Timestamp('2020-08-30 00:00:00'),
 Timestamp('2020-08-31 00:00:00'),
 Timestamp('2020-09-01 00:00:00'),
 Timestamp('2020-09-02 00:00:00'),
 Timestamp('2020-09-03 00:00:00'),
 Timestamp('2020-09-04 00:00:00'),
 Timestamp('2020-09-05 00:00:00'),
 Timestamp('2020-09-06 00:00:00'),
 Timestamp('2020-09-07 00:00:00'),
 Timestamp('2020-09-08 00:00:00'),
 Timestamp('2020-09-09 00:00:00'),
 Timestamp('2020-09-10 00:00:00'),
 Timestamp('2020-09-11 00:00:00'),
 Timestamp('2020-09-12 00:00:00'),
 Timestamp('2020-09-13 00:00:00'),
 Timestamp('2020-09-14 00:00:00'),
 Timestamp('2020-09-15 00:00:00'),
 Timestamp('2020-09-16 00:00:00'),
 Timestamp('2020-09-17 00:00:00'),
 Timestamp('2020-09-18 00:00:00'),
 Timestamp('2020-09-19 00:00:00'),
 Timestamp('2020-09-20 00:00:00'),
 Timestamp('2020-09-21 00:00:00'),
 Timestamp('2020-09-22 00:00:00'),
 Timestamp('2020-09-23 00:00:00'),
 Timestamp('2020-09-24 00:00:00'),
 Timestamp('2020-09-25 00:00:00'),
 Timestamp('2020-09-26 00:00:00'),
 Timestamp('2020-09-27 00:00:00'),
 Timestamp('2020-09-28 00:00:00'),
 Timestamp('2020-09-29 00:00:00'),
 Timestamp('2020-09-30 00:00:00'),
 Timestamp('2020-10-01 00:00:00'),
 Timestamp('2020-10-02 00:00:00'),
 Timestamp('2020-10-03 00:00:00'),
 Timestamp('2020-10-04 00:00:00'),
 Timestamp('2020-10-05 00:00:00'),
 Timestamp('2020-10-06 00:00:00'),
 Timestamp('2020-10-07 00:00:00'),
 Timestamp('2020-10-08 00:00:00'),
 Timestamp('2020-10-09 00:00:00'),
 Timestamp('2020-10-10 00:00:00'),
 Timestamp('2020-10-11 00:00:00'),
 Timestamp('2020-10-12 00:00:00'),
 Timestamp('2020-10-13 00:00:00'),
 Timestamp('2020-10-14 00:00:00'),
 Timestamp('2020-10-15 00:00:00'),
 Timestamp('2020-10-16 00:00:00'),
 Timestamp('2020-10-17 00:00:00'),
 Timestamp('2020-10-18 00:00:00'),
 Timestamp('2020-10-19 00:00:00'),
 Timestamp('2020-10-20 00:00:00'),
 Timestamp('2020-10-21 00:00:00'),
 Timestamp('2020-10-22 00:00:00'),
 Timestamp('2020-10-23 00:00:00'),
 Timestamp('2020-10-24 00:00:00'),
 Timestamp('2020-10-25 00:00:00'),
 Timestamp('2020-10-26 00:00:00'),
 Timestamp('2020-10-27 00:00:00'),
 Timestamp('2020-10-28 00:00:00'),
 Timestamp('2020-10-29 00:00:00'),
 Timestamp('2020-10-30 00:00:00'),
 Timestamp('2020-10-31 00:00:00'),
 Timestamp('2020-11-01 00:00:00'),
 Timestamp('2020-11-02 00:00:00'),
 Timestamp('2020-11-03 00:00:00'),
 Timestamp('2020-11-04 00:00:00'),
 Timestamp('2020-11-05 00:00:00'),
 Timestamp('2020-11-06 00:00:00'),
 Timestamp('2020-11-07 00:00:00'),
 Timestamp('2020-11-08 00:00:00'),
 Timestamp('2020-11-09 00:00:00'),
 Timestamp('2020-11-10 00:00:00'),
 Timestamp('2020-11-11 00:00:00'),
 Timestamp('2020-11-12 00:00:00'),
 Timestamp('2020-11-13 00:00:00'),
 Timestamp('2020-11-14 00:00:00'),
 Timestamp('2020-11-15 00:00:00'),
 Timestamp('2020-11-16 00:00:00'),
 Timestamp('2020-11-17 00:00:00'),
 Timestamp('2020-11-18 00:00:00'),
 Timestamp('2020-11-19 00:00:00'),
 Timestamp('2020-11-20 00:00:00'),
 Timestamp('2020-11-21 00:00:00'),
 Timestamp('2020-11-22 00:00:00'),
 Timestamp('2020-11-23 00:00:00'),
 Timestamp('2020-11-24 00:00:00'),
 Timestamp('2020-11-25 00:00:00'),
 Timestamp('2020-11-26 00:00:00'),
 Timestamp('2020-11-27 00:00:00'),
 Timestamp('2020-11-28 00:00:00'),
 Timestamp('2020-11-29 00:00:00'),
 Timestamp('2020-11-30 00:00:00'),
 Timestamp('2020-12-01 00:00:00'),
 Timestamp('2020-12-02 00:00:00'),
 Timestamp('2020-12-03 00:00:00'),
 Timestamp('2020-12-04 00:00:00'),
 Timestamp('2020-12-05 00:00:00'),
 Timestamp('2020-12-06 00:00:00'),
 Timestamp('2020-12-07 00:00:00'),
 Timestamp('2020-12-08 00:00:00'),
 Timestamp('2020-12-09 00:00:00'),
 Timestamp('2020-12-10 00:00:00'),
 Timestamp('2020-12-11 00:00:00'),
 Timestamp('2020-12-12 00:00:00'),
 Timestamp('2020-12-13 00:00:00'),
 Timestamp('2020-12-14 00:00:00'),
 Timestamp('2020-12-15 00:00:00'),
 Timestamp('2020-12-16 00:00:00'),
 Timestamp('2020-12-17 00:00:00'),
 Timestamp('2020-12-18 00:00:00'),
 Timestamp('2020-12-19 00:00:00'),
 Timestamp('2020-12-20 00:00:00'),
 Timestamp('2020-12-21 00:00:00'),
 Timestamp('2020-12-22 00:00:00'),
 Timestamp('2020-12-23 00:00:00'),
 Timestamp('2020-12-24 00:00:00'),
 Timestamp('2020-12-25 00:00:00'),
 Timestamp('2020-12-26 00:00:00'),
 Timestamp('2020-12-27 00:00:00'),
 Timestamp('2020-12-28 00:00:00'),
 Timestamp('2020-12-29 00:00:00'),
 Timestamp('2020-12-30 00:00:00'),
 Timestamp('2020-12-31 00:00:00'),
 Timestamp('2021-01-01 00:00:00'),
 Timestamp('2021-01-02 00:00:00'),
 Timestamp('2021-01-03 00:00:00'),
 Timestamp('2021-01-04 00:00:00'),
 Timestamp('2021-01-05 00:00:00'),
 Timestamp('2021-01-06 00:00:00'),
 Timestamp('2021-01-07 00:00:00'),
 Timestamp('2021-01-08 00:00:00'),
 Timestamp('2021-01-09 00:00:00'),
 Timestamp('2021-01-10 00:00:00'),
 Timestamp('2021-01-11 00:00:00'),
 Timestamp('2021-01-12 00:00:00'),
 Timestamp('2021-01-13 00:00:00'),
 Timestamp('2021-01-14 00:00:00'),
 Timestamp('2021-01-15 00:00:00'),
 Timestamp('2021-01-16 00:00:00'),
 Timestamp('2021-01-17 00:00:00'),
 Timestamp('2021-01-18 00:00:00'),
 Timestamp('2021-01-19 00:00:00'),
 Timestamp('2021-01-20 00:00:00'),
 Timestamp('2021-01-21 00:00:00'),
 Timestamp('2021-01-22 00:00:00'),
 Timestamp('2021-01-23 00:00:00'),
 Timestamp('2021-01-24 00:00:00'),
 Timestamp('2021-01-25 00:00:00'),
 Timestamp('2021-01-26 00:00:00'),
 Timestamp('2021-01-27 00:00:00'),
 Timestamp('2021-01-28 00:00:00'),
 Timestamp('2021-01-29 00:00:00'),
 Timestamp('2021-01-30 00:00:00'),
 Timestamp('2021-01-31 00:00:00'),
 Timestamp('2021-02-01 00:00:00'),
 Timestamp('2021-02-02 00:00:00'),
 Timestamp('2021-02-03 00:00:00'),
 Timestamp('2021-02-04 00:00:00'),
 Timestamp('2021-02-05 00:00:00'),
 Timestamp('2021-02-06 00:00:00'),
 Timestamp('2021-02-07 00:00:00'),
 Timestamp('2021-02-08 00:00:00'),
 Timestamp('2021-02-09 00:00:00'),
 Timestamp('2021-02-10 00:00:00'),
 Timestamp('2021-02-11 00:00:00'),
 Timestamp('2021-02-12 00:00:00'),
 Timestamp('2021-02-13 00:00:00'),
 Timestamp('2021-02-14 00:00:00'),
 Timestamp('2021-02-15 00:00:00'),
 Timestamp('2021-02-16 00:00:00'),
 Timestamp('2021-02-17 00:00:00'),
 Timestamp('2021-02-18 00:00:00'),
 Timestamp('2021-02-19 00:00:00'),
 Timestamp('2021-02-20 00:00:00'),
 Timestamp('2021-02-21 00:00:00'),
 Timestamp('2021-02-22 00:00:00'),
 Timestamp('2021-02-23 00:00:00'),
 Timestamp('2021-02-24 00:00:00'),
 Timestamp('2021-02-25 00:00:00'),
 Timestamp('2021-02-26 00:00:00'),
 Timestamp('2021-02-27 00:00:00'),
 Timestamp('2021-02-28 00:00:00'),
 Timestamp('2021-03-01 00:00:00'),
 Timestamp('2021-03-02 00:00:00'),
 Timestamp('2021-03-03 00:00:00'),
 Timestamp('2021-03-04 00:00:00'),
 Timestamp('2021-03-05 00:00:00'),
 Timestamp('2021-03-06 00:00:00'),
 Timestamp('2021-03-07 00:00:00'),
 Timestamp('2021-03-08 00:00:00'),
 Timestamp('2021-03-09 00:00:00'),
 Timestamp('2021-03-10 00:00:00'),
 Timestamp('2021-03-11 00:00:00'),
 Timestamp('2021-03-12 00:00:00'),
 Timestamp('2021-03-13 00:00:00'),
 Timestamp('2021-03-14 00:00:00'),
 Timestamp('2021-03-15 00:00:00'),
 Timestamp('2021-03-16 00:00:00'),
 Timestamp('2021-03-17 00:00:00'),
 Timestamp('2021-03-18 00:00:00'),
 Timestamp('2021-03-19 00:00:00'),
 Timestamp('2021-03-20 00:00:00'),
 Timestamp('2021-03-21 00:00:00'),
 Timestamp('2021-03-22 00:00:00'),
 Timestamp('2021-03-23 00:00:00'),
 Timestamp('2021-03-24 00:00:00'),
 Timestamp('2021-03-25 00:00:00'),
 Timestamp('2021-03-26 00:00:00'),
 Timestamp('2021-03-27 00:00:00'),
 Timestamp('2021-03-28 00:00:00'),
 Timestamp('2021-03-29 00:00:00'),
 Timestamp('2021-03-30 00:00:00'),
 Timestamp('2021-03-31 00:00:00'),
 Timestamp('2021-04-01 00:00:00'),
 Timestamp('2021-04-02 00:00:00'),
 Timestamp('2021-04-03 00:00:00'),
 Timestamp('2021-04-04 00:00:00'),
 Timestamp('2021-04-05 00:00:00'),
 Timestamp('2021-04-06 00:00:00'),
 Timestamp('2021-04-07 00:00:00'),
 Timestamp('2021-04-08 00:00:00'),
 Timestamp('2021-04-09 00:00:00'),
 Timestamp('2021-04-10 00:00:00'),
 Timestamp('2021-04-11 00:00:00'),
 Timestamp('2021-04-12 00:00:00'),
 Timestamp('2021-04-13 00:00:00'),
 Timestamp('2021-04-14 00:00:00'),
 Timestamp('2021-04-15 00:00:00'),
 Timestamp('2021-04-16 00:00:00'),
 Timestamp('2021-04-17 00:00:00'),
 Timestamp('2021-04-18 00:00:00'),
 Timestamp('2021-04-19 00:00:00'),
 Timestamp('2021-04-20 00:00:00'),
 Timestamp('2021-04-21 00:00:00'),
 Timestamp('2021-04-22 00:00:00'),
 Timestamp('2021-04-23 00:00:00'),
 Timestamp('2021-04-24 00:00:00'),
 Timestamp('2021-04-25 00:00:00'),
 Timestamp('2021-04-26 00:00:00'),
 Timestamp('2021-04-27 00:00:00'),
 Timestamp('2021-04-28 00:00:00'),
 Timestamp('2021-04-29 00:00:00'),
 Timestamp('2021-04-30 00:00:00'),
 Timestamp('2021-05-01 00:00:00'),
 Timestamp('2021-05-02 00:00:00'),
 Timestamp('2021-05-03 00:00:00'),
 Timestamp('2021-05-04 00:00:00'),
 Timestamp('2021-05-05 00:00:00'),
 Timestamp('2021-05-06 00:00:00'),
 Timestamp('2021-05-07 00:00:00'),
 Timestamp('2021-05-08 00:00:00'),
 Timestamp('2021-05-09 00:00:00'),
 Timestamp('2021-05-10 00:00:00'),
 Timestamp('2021-05-11 00:00:00'),
 Timestamp('2021-05-12 00:00:00'),
 Timestamp('2021-05-13 00:00:00'),
 Timestamp('2021-05-14 00:00:00'),
 Timestamp('2021-05-15 00:00:00'),
 Timestamp('2021-05-16 00:00:00'),
 Timestamp('2021-05-17 00:00:00'),
 Timestamp('2021-05-18 00:00:00'),
 Timestamp('2021-05-19 00:00:00'),
 Timestamp('2021-05-20 00:00:00'),
 Timestamp('2021-05-21 00:00:00'),
 Timestamp('2021-05-22 00:00:00'),
 Timestamp('2021-05-23 00:00:00'),
 Timestamp('2021-05-24 00:00:00'),
 Timestamp('2021-05-25 00:00:00'),
 Timestamp('2021-05-26 00:00:00'),
 Timestamp('2021-05-27 00:00:00'),
 Timestamp('2021-05-28 00:00:00'),
 Timestamp('2021-05-29 00:00:00'),
 Timestamp('2021-05-30 00:00:00'),
 Timestamp('2021-05-31 00:00:00'),
 Timestamp('2021-06-01 00:00:00'),
 Timestamp('2021-06-02 00:00:00'),
 Timestamp('2021-06-03 00:00:00'),
 Timestamp('2021-06-04 00:00:00'),
 Timestamp('2021-06-05 00:00:00'),
 Timestamp('2021-06-06 00:00:00'),
 Timestamp('2021-06-07 00:00:00'),
 Timestamp('2021-06-08 00:00:00'),
 Timestamp('2021-06-09 00:00:00'),
 Timestamp('2021-06-10 00:00:00'),
 Timestamp('2021-06-11 00:00:00'),
 Timestamp('2021-06-12 00:00:00'),
 Timestamp('2021-06-13 00:00:00'),
 Timestamp('2021-06-14 00:00:00'),
 Timestamp('2021-06-15 00:00:00'),
 Timestamp('2021-06-16 00:00:00'),
 Timestamp('2021-06-17 00:00:00'),
 Timestamp('2021-06-18 00:00:00'),
 Timestamp('2021-06-19 00:00:00'),
 Timestamp('2021-06-20 00:00:00'),
 Timestamp('2021-06-21 00:00:00'),
 Timestamp('2021-06-22 00:00:00'),
 Timestamp('2021-06-23 00:00:00'),
 Timestamp('2021-06-24 00:00:00'),
 Timestamp('2021-06-25 00:00:00'),
 Timestamp('2021-06-26 00:00:00'),
 Timestamp('2021-06-27 00:00:00'),
 Timestamp('2021-06-28 00:00:00'),
 Timestamp('2021-06-29 00:00:00'),
 Timestamp('2021-06-30 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-07-02 00:00:00'),
 Timestamp('2021-07-03 00:00:00'),
 Timestamp('2021-07-04 00:00:00'),
 Timestamp('2021-07-05 00:00:00'),
 Timestamp('2021-07-06 00:00:00'),
 Timestamp('2021-07-07 00:00:00'),
 Timestamp('2021-07-08 00:00:00'),
 Timestamp('2021-07-09 00:00:00'),
 Timestamp('2021-07-10 00:00:00'),
 Timestamp('2021-07-11 00:00:00'),
 Timestamp('2021-07-12 00:00:00'),
 Timestamp('2021-07-13 00:00:00'),
 Timestamp('2021-07-14 00:00:00'),
 Timestamp('2021-07-15 00:00:00'),
 Timestamp('2021-07-16 00:00:00'),
 Timestamp('2021-07-17 00:00:00'),
 Timestamp('2021-07-18 00:00:00'),
 Timestamp('2021-07-19 00:00:00'),
 Timestamp('2021-07-20 00:00:00'),
 Timestamp('2021-07-21 00:00:00'),
 Timestamp('2021-07-22 00:00:00'),
 Timestamp('2021-07-23 00:00:00'),
 Timestamp('2021-07-24 00:00:00'),

In [354]:
# 데이터프레임.groupby(그룹이되는컬럼)[계산하고 싶은 컬럼].집계함수()