# 송인욱 0704 과제 1번
## 2010년 1월~12월까지 최고온도 - 최저온도 데이터 추출

In [3]:
import pandas as pd
DIR = '../Data/'
NAME = 'weather.csv'
FILE = DIR + NAME
weatherDF = pd.read_csv(FILE)
weatherDF.head()

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
for i in range(0,12,2):
    month = weatherDF.iloc[[i,i+1]]
    month = month.dropna(axis=1, how='all')
    print(month)

        id  year  month element   d30
0  MX17004  2010      1    tmax  27.8
1  MX17004  2010      1    tmin  14.5
        id  year  month element    d2    d3   d11   d23
2  MX17004  2010      2    tmax  27.3  24.1  29.7  29.9
3  MX17004  2010      2    tmin  14.4  14.4  13.4  10.7
        id  year  month element    d5   d10   d16
4  MX17004  2010      3    tmax  32.1  34.5  31.1
5  MX17004  2010      3    tmin  14.2  16.8  17.6
        id  year  month element   d27
6  MX17004  2010      4    tmax  36.3
7  MX17004  2010      4    tmin  16.7
        id  year  month element   d27
8  MX17004  2010      5    tmax  33.2
9  MX17004  2010      5    tmin  18.2
         id  year  month element   d17   d29
10  MX17004  2010      6    tmax  28.0  30.1
11  MX17004  2010      6    tmin  17.5  18.0