### 1. 결측치(Missing Value) 처리 문제
- 2010년도 1월 ~ 12월 최고온도 – 최저온도 추출

In [ ]:
import pandas as pd

In [ ]:
weather = pd.read_csv('../Data/weather.csv')

In [ ]:
weather

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MX17004,2010,3,tmin,NaN,NaN,NaN,NaN,14.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,MX17004,2010,4,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,36.3,NaN,NaN,NaN,NaN
7,MX17004,2010,4,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN
8,MX17004,2010,5,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,33.2,NaN,NaN,NaN,NaN
9,MX17004,2010,5,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18.2,NaN,NaN,NaN,NaN
10,MX17004,2010,6,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.1,NaN,NaN
11,MX17004,2010,6,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN
12,MX17004,2010,7,tmax,NaN,NaN,28.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,MX17004,2010,7,tmin,NaN,NaN,17.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MX17004,2010,8,tmax,NaN,NaN,NaN,NaN,29.6,NaN,...,NaN,26.4,NaN,29.7,NaN,NaN,NaN,28.0,NaN,25.4
15,MX17004,2010,8,tmin,NaN,NaN,NaN,NaN,15.8,NaN,...,NaN,15.0,NaN,15.6,NaN,NaN,NaN,15.3,NaN,15.4
16,MX17004,2010,10,tmax,NaN,NaN,NaN,NaN,27.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,31.2,NaN,NaN,NaN
17,MX17004,2010,10,tmin,NaN,NaN,NaN,NaN,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN
18,MX17004,2010,11,tmax,NaN,31.3,NaN,27.2,26.3,NaN,...,NaN,NaN,NaN,NaN,28.1,27.7,NaN,NaN,NaN,NaN
19,MX17004,2010,11,tmin,NaN,16.3,NaN,12.0,7.9,NaN,...,NaN,NaN,NaN,NaN,12.1,14.2,NaN,NaN,NaN,NaN
20,MX17004,2010,12,tmax,29.9,NaN,NaN,NaN,NaN,27.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MX17004,2010,12,tmin,13.8,NaN,NaN,NaN,NaN,10.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 35 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       22 non-null     object
 1   year     22 non-null     int64
 2   month    22 non-null     int64
 3   element  22 non-null     object
 4   d1       2 non-null      float64
 5   d2       4 non-null      float64
 6   d3       4 non-null      float64
 7   d4       2 non-null      float64
 8   d5       8 non-null      float64
 9   d6       2 non-null      float64
 10  d7       2 non-null      float64
 11  d8       2 non-null      float64
 12  d9       0 non-null      float64
 13  d10      2 non-null      float64
 14  d11      2 non-null      float64
 15  d12      0 non-null      float64
 16  d13      2 non-null      float64
 17  d14      4 non-null      float64
 18  d15      2 non-null      float64
 19  d16      2 non-null      float64
 20  d17      2 non-null      float64
 21  d18      0 non-null      float64
 22  d19      0 non-null      float64
 23  d20      0 non-null      float64
 24  d21      0 non-null      float64
 25  d22      0 non-null      float64
 26  d23      4 non-null      float64
 27  d24      0 non-null      float64
 28  d25      2 non-null      float64
 29  d26      2 non-null      float64
 30  d27      6 non-null      float64
 31  d28      2 non-null      float64
 32  d29      4 non-null      float64
 33  d30      2 non-null      float64
 34  d31      2 non-null      float64
dtypes: float64(31), int64(2), object(2)
memory usage: 6.1+ KB

In [ ]:
month_weather = weather[weather['month'] == 1].dropna(axis = 1, how = 'all')
month_weather['max/ min'] = [month_weather[month_weather.columns[4:]].iloc[0].max(),
                             month_weather[month_weather.columns[4:]].iloc[1].min()]
month_weather.drop(month_weather.columns[4:-1], axis = 1, inplace = True)
month_weather

        id  year  month element  max/ min
0  MX17004  2010      1    tmax      27.8
1  MX17004  2010      1    tmin      14.5

과제 0704 (1) 1월 ~ 12월 까지 최고온도, 최저온도 데이터 추출

In [ ]:
year_weather= pd.DataFrame(columns = month_weather.columns)
for m in range(1,13):
    try:
        month_weather = weather[weather['month'] == m].dropna(axis = 1, how = 'all')
        month_weather['max/ min'] = [month_weather[month_weather.columns[4:]].iloc[0].max(),
                                     month_weather[month_weather.columns[4:]].iloc[1].min()]
        month_weather.drop(month_weather.columns[4:-1], axis = 1, inplace = True)
        year_weather = pd.concat([year_weather,month_weather])
    except:
        pass

In [ ]:
year_weather

         id  year month element max/ min
0   MX17004  2010     1    tmax     27.8
1   MX17004  2010     1    tmin     14.5
2   MX17004  2010     2    tmax     29.9
3   MX17004  2010     2    tmin     10.7
4   MX17004  2010     3    tmax     34.5
5   MX17004  2010     3    tmin     14.2
6   MX17004  2010     4    tmax     36.3
7   MX17004  2010     4    tmin     16.7
8   MX17004  2010     5    tmax     33.2
9   MX17004  2010     5    tmin     18.2
10  MX17004  2010     6    tmax     30.1
11  MX17004  2010     6    tmin     17.5
12  MX17004  2010     7    tmax     29.9
13  MX17004  2010     7    tmin     16.5
14  MX17004  2010     8    tmax     29.8
15  MX17004  2010     8    tmin     15.0
16  MX17004  2010    10    tmax     31.2
17  MX17004  2010    10    tmin     10.5
18  MX17004  2010    11    tmax     31.3
19  MX17004  2010    11    tmin      7.9
20  MX17004  2010    12    tmax     29.9
21  MX17004  2010    12    tmin     10.5

### 2. 
- '시도별 전출입 인구수.xlsx’에서 서울에서 다른지역으로 이동한 년도별 인구수
데이터 추출 및 분석

In [ ]:
import pandas as pd
data = pd.read_excel('../data/시도별 전출입 인구수.xlsx')

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325 entries, 0 to 324
Data columns (total 50 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   전출지별    19 non-null     object
 1   전입지별    325 non-null    object
 2   1970    325 non-null    object
 3   1971    325 non-null    object
 4   1972    325 non-null    object
 5   1973    325 non-null    object
 6   1974    325 non-null    object
 7   1975    325 non-null    object
 8   1976    325 non-null    object
 9   1977    325 non-null    object
 10  1978    325 non-null    object
 11  1979    325 non-null    object
 12  1980    325 non-null    object
 13  1981    325 non-null    object
 14  1982    325 non-null    object
 15  1983    325 non-null    object
 16  1984    325 non-null    object
 17  1985    325 non-null    object
 18  1986    325 non-null    object
 19  1987    325 non-null    object
 20  1988    325 non-null    object
 21  1989    325 non-null    object
 22  1990    325 non-null    object
 23  1991    325 non-null    object
 24  1992    325 non-null    object
 25  1993    325 non-null    object
 26  1994    325 non-null    object
 27  1995    325 non-null    object
 28  1996    325 non-null    object
 29  1997    325 non-null    object
 30  1998    325 non-null    object
 31  1999    325 non-null    object
 32  2000    325 non-null    object
 33  2001    325 non-null    object
 34  2002    325 non-null    object
 35  2003    325 non-null    object
 36  2004    325 non-null    object
 37  2005    325 non-null    object
 38  2006    325 non-null    object
 39  2007    325 non-null    object
 40  2008    325 non-null    object
 41  2009    325 non-null    object
 42  2010    325 non-null    object
 43  2011    325 non-null    object
 44  2012    325 non-null    object
 45  2013    325 non-null    object
 46  2014    325 non-null    object
 47  2015    325 non-null    object
 48  2016    325 non-null    object
 49  2017    325 non-null    object
dtypes: object(50)
memory usage: 127.1+ KB

In [ ]:
data.fillna(method = 'ffill', inplace = True)
data

,전출지별,전입지별,1970,1971,1972,1973,1974,1975,1976,1977,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,전출지별,전입지별,이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),...,이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명)
1,전국,전국,4046536,4210164,3687938,4860418,5297969,9011440,6773250,7397623,...,8808256,8487275,8226594,8127195,7506691,7411784,7629098,7755286,7378430,7154226
2,전국,서울특별시,1742813,1671705,1349333,1831858,2050392,3396662,2756510,2893403,...,2025358,1873188,1733015,1721748,1555281,1520090,1573594,1589431,1515602,1472937
3,전국,부산광역시,448577,389797,362202,482061,680984,805979,724664,785117,...,514502,519310,519334,508043,461042,478451,485710,507031,459015,439073
4,전국,대구광역시,-,-,-,-,-,-,-,-,...,409938,398626,370817,370563,348642,351873,350213,351424,328228,321182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,제주특별자치도,전라북도,139,202,141,210,219,415,392,408,...,668,579,672,561,551,516,609,683,733,768
321,제주특별자치도,전라남도,631,965,857,952,1133,2808,2608,2652,...,1143,1123,1002,1026,966,1001,928,1062,1127,1102
322,제주특별자치도,경상북도,374,619,468,576,625,1123,1141,1004,...,761,704,738,756,699,781,728,903,931,994
323,제주특별자치도,경상남도,474,479,440,571,1208,1517,863,1122,...,1517,1474,1324,1367,1227,1278,1223,1500,1448,1501
324,제주특별자치도,제주특별자치도,9290,12427,12210,16158,19580,34221,23291,31028,...,59564,55673,55507,59846,54280,60607,59673,59036,66444,63275

In [ ]:
seoul = data[data['전출지별']=='서울특별시'].set_index('전입지별').drop('전출지별', axis = 1)
seoul

,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
전입지별,,,,,,,,,,,,,,,,,,,,,
전국,1448985,1419016,1210559,1647268,1819660,2937093,2495620,2678007,3028911,2441242,...,2083352,1925452,1848038,1834806,1658928,1620640,1661425,1726687,1655859,1571423
서울특별시,1232619,1158556,985945,1345508,1511726,2401970,2041724,2212213,2518286,1883742,...,1426213,1286855,1199708,1215122,1069300,1053008,1098023,1129529,1061915,1018807
부산광역시,11568,11130,11768,16307,22220,27515,23732,27213,29856,28542,...,17353,17738,17418,18816,16135,16153,17320,17009,15062,14484
대구광역시,-,-,-,-,-,-,-,-,-,-,...,9720,10464,10277,10397,10135,10631,10062,10191,9623,8891
인천광역시,-,-,-,-,-,-,-,-,-,-,...,50493,45392,46082,51641,49640,47424,43212,44915,43745,40485
광주광역시,-,-,-,-,-,-,-,-,-,-,...,10846,11725,11095,10587,10154,9129,9759,9216,8354,7932
대전광역시,-,-,-,-,-,-,-,-,-,-,...,13515,13632,13819,13900,14080,13440,13403,13453,12619,11815
울산광역시,-,-,-,-,-,-,-,-,-,-,...,5057,4845,4742,5188,5691,5542,6047,5950,5102,4260
세종특별자치시,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,2998,2851,6481,7550,5943,5813
경기도,130149,150313,93333,143234,149045,253705,202276,207722,237684,278411,...,412408,398282,410735,373771,354135,340801,332785,359337,370760,342433
강원도,9352,12885,13561,16481,15479,27837,25927,25415,26700,27599,...,23668,23331,22736,23624,22332,20601,21173,22659,21590,21016
충청북도,6700,9457,10853,12617,11786,21073,18029,17478,18420,20047,...,15294,15295,15461,15318,14555,13783,14244,14379,14087,13302
충청남도,15954,18943,23406,27139,25509,51205,41447,43993,48091,45388,...,27458,24889,24522,24723,22269,21486,21473,22299,21741,21020
전라북도,10814,13192,16583,18642,16647,34411,29835,28444,29676,31570,...,18390,18332,17569,17755,16120,14909,14566,14835,13835,13179
전라남도,10513,16755,20157,22160,21314,46610,46251,43430,44624,47934,...,16601,17468,16429,15974,14765,14187,14591,14598,13065,12426
경상북도,11868,16459,22073,27531,26902,46177,40376,41155,42940,43565,...,15425,16569,16042,15818,15191,14420,14456,15113,14236,12464
경상남도,8409,10001,11263,15193,16771,23150,22400,27393,28697,30183,...,15438,15303,15689,16039,14474,14447,14799,15220,13717,12692
제주특별자치도,1039,1325,1617,2456,2261,3440,3623,3551,3937,4261,...,5473,5332,5714,6133,6954,7828,9031,10434,10465,10404

In [ ]:
import numpy as np
seoul = seoul.replace('-', np.nan)
seoul

,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
전입지별,,,,,,,,,,,,,,,,,,,,,
전국,1448985.0,1419016.0,1210559.0,1647268.0,1819660.0,2937093.0,2495620.0,2678007.0,3028911.0,2441242.0,...,2083352.0,1925452.0,1848038.0,1834806.0,1658928,1620640,1661425,1726687,1655859,1571423
서울특별시,1232619.0,1158556.0,985945.0,1345508.0,1511726.0,2401970.0,2041724.0,2212213.0,2518286.0,1883742.0,...,1426213.0,1286855.0,1199708.0,1215122.0,1069300,1053008,1098023,1129529,1061915,1018807
부산광역시,11568.0,11130.0,11768.0,16307.0,22220.0,27515.0,23732.0,27213.0,29856.0,28542.0,...,17353.0,17738.0,17418.0,18816.0,16135,16153,17320,17009,15062,14484
대구광역시,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9720.0,10464.0,10277.0,10397.0,10135,10631,10062,10191,9623,8891
인천광역시,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,50493.0,45392.0,46082.0,51641.0,49640,47424,43212,44915,43745,40485
광주광역시,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10846.0,11725.0,11095.0,10587.0,10154,9129,9759,9216,8354,7932
대전광역시,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13515.0,13632.0,13819.0,13900.0,14080,13440,13403,13453,12619,11815
울산광역시,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5057.0,4845.0,4742.0,5188.0,5691,5542,6047,5950,5102,4260
세종특별자치시,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2998,2851,6481,7550,5943,5813
경기도,130149.0,150313.0,93333.0,143234.0,149045.0,253705.0,202276.0,207722.0,237684.0,278411.0,...,412408.0,398282.0,410735.0,373771.0,354135,340801,332785,359337,370760,342433
강원도,9352.0,12885.0,13561.0,16481.0,15479.0,27837.0,25927.0,25415.0,26700.0,27599.0,...,23668.0,23331.0,22736.0,23624.0,22332,20601,21173,22659,21590,21016
충청북도,6700.0,9457.0,10853.0,12617.0,11786.0,21073.0,18029.0,17478.0,18420.0,20047.0,...,15294.0,15295.0,15461.0,15318.0,14555,13783,14244,14379,14087,13302
충청남도,15954.0,18943.0,23406.0,27139.0,25509.0,51205.0,41447.0,43993.0,48091.0,45388.0,...,27458.0,24889.0,24522.0,24723.0,22269,21486,21473,22299,21741,21020
전라북도,10814.0,13192.0,16583.0,18642.0,16647.0,34411.0,29835.0,28444.0,29676.0,31570.0,...,18390.0,18332.0,17569.0,17755.0,16120,14909,14566,14835,13835,13179
전라남도,10513.0,16755.0,20157.0,22160.0,21314.0,46610.0,46251.0,43430.0,44624.0,47934.0,...,16601.0,17468.0,16429.0,15974.0,14765,14187,14591,14598,13065,12426
경상북도,11868.0,16459.0,22073.0,27531.0,26902.0,46177.0,40376.0,41155.0,42940.0,43565.0,...,15425.0,16569.0,16042.0,15818.0,15191,14420,14456,15113,14236,12464
경상남도,8409.0,10001.0,11263.0,15193.0,16771.0,23150.0,22400.0,27393.0,28697.0,30183.0,...,15438.0,15303.0,15689.0,16039.0,14474,14447,14799,15220,13717,12692
제주특별자치도,1039.0,1325.0,1617.0,2456.0,2261.0,3440.0,3623.0,3551.0,3937.0,4261.0,...,5473.0,5332.0,5714.0,6133.0,6954,7828,9031,10434,10465,10404

In [ ]:
seoul.describe().loc[['max', 'min', 'count', 'std']]

,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
max,1.448985e+06,1.419016e+06,1.210559e+06,1.647268e+06,1.819660e+06,2.937093e+06,2.495620e+06,2.678007e+06,3.028911e+06,2.441242e+06,...,2.083352e+06,1.925452e+06,1.848038e+06,1.834806e+06,1.658928e+06,1.620640e+06,1.661425e+06,1.726687e+06,1.655859e+06,1.571423e+06
min,1.039000e+03,1.325000e+03,1.617000e+03,2.456000e+03,2.261000e+03,3.440000e+03,3.623000e+03,3.551000e+03,3.937000e+03,4.261000e+03,...,5.057000e+03,4.845000e+03,4.742000e+03,5.188000e+03,2.998000e+03,2.851000e+03,6.047000e+03,5.950000e+03,5.102000e+03,4.260000e+03
count,1.200000e+01,1.200000e+01,1.200000e+01,1.200000e+01,1.200000e+01,1.200000e+01,1.200000e+01,1.200000e+01,1.200000e+01,1.200000e+01,...,1.700000e+01,1.700000e+01,1.700000e+01,1.700000e+01,1.800000e+01,1.800000e+01,1.800000e+01,1.800000e+01,1.800000e+01,1.800000e+01
std,5.167164e+05,4.962419e+05,4.221216e+05,5.754973e+05,6.408968e+05,1.026710e+06,8.723054e+05,9.403559e+05,1.067038e+06,8.317159e+05,...,5.878562e+05,5.393906e+05,5.138702e+05,5.121401e+05,4.481750e+05,4.387608e+05,4.516633e+05,4.683420e+05,4.473592e+05,4.256376e+05